.idea
**pyc
node_modules
celerybeat-schedule
debug.log
celerybeat-schedule.db
*/migrations/0*.py
envs.sh
*.log
*.out
minotour.log
.env
logfile
celerybeat*
centrifuge_report.tsv
centrifuge/utils.py
*.mysql
env-*
*/migrations/
*/Temp_results/*
db_changes
