numpy
wheel
watchdog
Django
django-filter
django-mailgun 
djangorestframework==3.6.2 
httpie 
Markdown 
mysqlclient 
python-dateutil
pytz 
configargparse
requests
BioPython
celery
django_celery_beat
twitter
redis
django_redis
flower
tqdm
requests_futures
scipy

