numpy
django>=3.0.7
flower
djangorestframework
mysqlclient
python-dateutil
pytz
configargparse
celery
twitter
redis
whitenoise
django_redis
django_extensions
pandas
isort
ete3
django-guardian
pylint-django
ipython
ptpython
numba
pyfastx
mappy
wheel
