numpy
wheel
watchdog
Django==1.11.11
django-filter
django-mailgun 
djangorestframework
httpie 
Markdown 
mysqlclient 
python-dateutil
pytz 
configargparse
requests
BioPython
celery
django_celery_beat
twitter
redis
django_redis
flower
tqdm
requests_futures
scipy
django_extensions
pandas
postgresql_psycopg2
