<div>
    <div class="container-fluid" style=" width: 100%;">
        <div id="barcodes" class="row">
            <div class="card card-primary">
                <div class="card-body">

                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs" id="nav-tabs-meta-barcodes"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 metadata-table metadata-table-alt">
            </div>
        </div>
        <div id="validation" class="row">
            <div class="card card-primary card-outline col-md-12">
                <div class="card-header ">
                    <h3 class="card-title" style="text-align: center">
                        Validated species
                    </h3>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs" id="nav-tabs-meta-barcodes"></ul>
                        </div>
                    </div>
                    <!-- Simplified visualisation -->
                    <div class="col-md-12">
                        <div class="card card-primary card-outline alert-table-simple">
                            <div class="card-header ">
                                <h3 class="card-title">Target results &nbsp;
                                <i
                                    class="fa fa-question-circle masterTooltip" tooltip="Alert table for the target species. <br/>
                                        Threats move to the left after hitting a 99% confidence of absence at less than 1 in 50000 reads. <br/>
                                        Otherwise they remain in the middle, showing the number of reads that aren't present at."></i></h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 simple-alert-table">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" id="expand-button" class="btn btn-info" data-toggle="collapse"
                                    data-target="#analysis">Expand data
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="analysis" class="collapse">
            <div class="row">
                <div class="card card-primary card-outline" style="width: 100%">
                    <div class="card-header">
                        <h3 class="card-title" style="text-align: center">
                            Analysis results
                        </h3>
                    </div>
                    <div class="card-body">
                        <!--The traffic light table-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-primary card-outline alert-table-complex">
                                    <!--<div class="col-md-3" style="height: 100%;"></div>-->
                                    <div class="card-header ">
                                        <h3 class="card-title">Target Species
                                        <i
                                            class="fa fa-question-circle masterTooltip" tooltip="More information about the threat detection.<br/>
                                                Num matches is the number of reads centrifuge classified as this species.<br/>
                                                Num mapped is the number of reads that mapped to the reference, or plasmid reference.<br/>
                                                Prop classified is the percentage of reads classified against the total number of classified reads.<br/>
                                                Mapped prop matches is the number of the reads that mapped against the reads classified as this threat.<br/>
                                                Target Reads is the number of reads that we mapped to regions of concern on the reference.<br/>
                                            Target prop. mapped is the number of target reads against the total number of mapped reads."></i> </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12 alert-table">
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-3" style="height: 100%;"></div>-->
                                </div>
                                <!-- ./traffic light card-->
                            </div>
                        </div>
                        <div class="row donut">
                            <!-- The proportion table and donut-->
                            <div class="col-md-3 ">
                                <div class="card card-primary card-outline donut">
                                    <div class="card-header ">
                                        <h3 class="card-title">Composition Breakdown
                                        <i
                                            class="fa fa-question-circle masterTooltip"
                                            tooltip="Breakdown of the top ten species in the sample, by Centrifuge classifications"></i></h3>
                                    </div>
                                    <div class="card-body donutContainer ">

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body" style="width: 100%; height: 8%;">
                                        <div class="range-slider" style="margin: auto; text-align: center;">
                                            <input id=nbSliders class="input-range" type="range" value="0" min="0"
                                                   max="6"
                                                   style="width: 100%">

                                            <span class="taxa-level"
                                                  style="width: 25%; display: inline-block; margin-left: 5px;"><b>Species</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of donut directive card -->
                            <div class="col-md-9">
                                <div class="card card-primary card-outline" style="width: 100%;">
                                    <div class="card-header ">
                                        <h3 class="card-title">Composition Breakdown</h3>
                                    </div>
                                    <div class="card-body rank-table-container" style="">
                                    </div>
                                </div>
                            </div>
                            <!-- End of table card -->
                        </div>
                        <div class="row">
                            <div class="col-md-12 sankeyContainer" style="min-width: 1200px; display:none">
                                <div class="card card-primary card-outline" style="width:100%;">
                                    <div class="card-header arrow-toggle" data-toggle="collapse" data-target=".svg-container" style="cursor: pointer">
                                        <h3 class="card-title">
                                            Lineages
                                            <i class="fa fa-arrow-down"></i>
                                        <i class="fa fa-arrow-up"></i></h3>

                                    </div>
                                    <div class="card-body svg-container collapse show in" style="min-width: 1200px;">
                                    </div>
                                </div>
                            </div>
                            <!-- End of sankey directive card -->
                        </div>
                        <div class="row">
                            <div class="col-md-12 all-reads-table">
                                <div class="card card-primary card-outline">
                                    <div class="card-header ">
                                        <h3 class="card-title">All Results
                                            <i
                                            class="fa fa-question-circle masterTooltip"
                                            tooltip="All the compiled results for all the reads in the sample, sortable and searchable."></i>&nbsp;</h3>
                                    </div>
                                    <div class="card-body" style="">
                                        <table class="table table-hover tableLand display" style="width: 100%">
                                            <thead>
                                            <tr>
                                                <th>Barcode</th>
                                                <th>Kingdom</th>
                                                <th>Phylum</th>
                                                <th>Class</th>
                                                <th>Order</th>
                                                <th>Family</th>
                                                <th>Genus</th>
                                                <th>Species</th>
                                                <th>Number matches</th>
                                                <th>Proportion</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th>Barcode</th>
                                                <th>Kingdom</th>
                                                <th>Phylum</th>
                                                <th>Class</th>
                                                <th>Order</th>
                                                <th>Family</th>
                                                <th>Genus</th>
                                                <th>Species</th>
                                                <th>Number matches</th>
                                                <th>Proportion</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- End of table card-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="flowcell_metagenomics_csv/" class="btn btn-primary meta-download">Download CSV of these
                        data.</a>
                </div>
            </div>
        </div>
    </div>
</div>