{% extends "web/template_private.html" %}
{% load static %}

{% block content %}

    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <section class="content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Change password</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" method="post">
                                    {% csrf_token %}
                                    <fieldset>
                                        <!-- Old Password input-->
                                        <div class="form-group">
                                          <label class="col-md-4 control-label" for="{{ form.old_password.id_for_label }}">Current Password</label>
                                          <div class="col-md-4">
                                            {{ form.old_password }}
                                          </div>
                                          <span class="col-md-4">{{ form.old_password.errors }}</span>
                                        </div>

                                        <!-- New Password help-->
                                        <div class="form-group">
                                            <div class="col-md-offset-4">
                                          {{ form.new_password1.help_text|safe }}
                                            </div>
                                        </div>

                                        <!-- New Password input-->
                                        <div class="form-group">
                                          <label class="col-md-4 control-label" for="{{ form.new_password1.id_for_label }}">New Password</label>
                                          <div class="col-md-4">
                                              {{ form.new_password1 }}
                                          </div>
                                          <span class="col-md-4">{{ form.new_password1.errors }}</span>
                                        </div>

                                        <!-- Confirm New Password input-->
                                        <div class="form-group">
                                          <label class="col-md-4 control-label" for="{{ form.new_password2.id_for_label }}">Confirm Password</label>
                                          <div class="col-md-4">
                                              {{ form.new_password2 }}
                                          </div>
                                          <span class="col-md-4">{{ form.new_password2.errors }}</span>
                                        </div>

                                        <!-- Button -->
                                        <div class="form-group">
                                          <div class="col-md-offset-4">
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                          </div>
                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
{% endblock %}

{% block javascript %}

    <script>

        setActiveNavbarItem(5);
    </script>
{% endblock %}
