{% extends "web/template_public.html" %}
{% load static %}

{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <section class="content-header">
                <h4 class="text-center">
                    <img style="max-width:100px;"
                         src="{% static 'web/img/minotourlogo.png' %}"
                         alt="minoTour_logo">
                    <br><span>- <em>real time data analysis for minION data</em> -</span>
                </h4>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Password reset form</h3>
                            </div>
                            <form method="post">{% csrf_token %}

                                <div class="card-body">

                                    <p class="card-text">Forgotten your password? Enter your email address below, and
                                        we'll email instructions
                                        for
                                        setting a new one.</p>


                                    <fieldset class="" style="padding: 20px">
                                        <div class="field-email" style="display: flex">
                                            {{ form.email.errors }}
                                            <div>
                                                <label for="id_email">Email address:</label>
                                            </div>
                                            {{ form.email }}
                                        </div>


                                    </fieldset>

                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-primary" type="submit">Reset my password</button>
                                    <a class="btn btn-primary" href="{% url 'login' %}" style="float: right">Go Back</a>

                                </div>
                            </form>

                        </div>

                    </div>

                </div>

            </section>

        </section>

    </div>

{% endblock %}
