{% extends "web/template_public.html" %}
{% load static %}

{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <section class="content-header">
                <h4 class="text-center">
                    <img style="max-width:100px;"
                         src="{% static 'web/img/minotourlogo.png' %}"
                         alt="minoTour_logo">
                    <br><span>- <em>real time data analysis for minION data</em> -</span>
                </h4>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Password reset form</h3>
                            </div>
                            <div class="panel-body">

                                <p>Forgotten your password? Enter your email address below, and we'll email instructions
                                    for
                                    setting a new one.</p>

                                <br/>

                                <form method="post">{% csrf_token %}
                                    <fieldset class="module aligned">
                                        <div class="form-row field-email">
                                            {{ form.email.errors }}
                                            <label for="id_email">Email address:</label>
                                            {{ form.email }}
                                        </div>

                                        <br/>

                                        <input type="submit" value="Reset my password"/>
                                    </fieldset>
                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </section>

        </section>

    </div>

{% endblock %}
