{% load static %}
{% if png.has_finished %}
    {% for png_path, png_title, png_description in png.srcs %}
        <div class="col-md-6 rendered">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h4 class="card-title">{{ png_title }}</h4>
                </div>
                <div class="card-body">
                    <div class="card">
                        <img class="card-img-top" src="{% get_static_prefix %}{{ png_path }}" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text">{{ png_description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
