{% load humanize %}
<div class="card-header">
    <h4 class="card-title"><i class="fas fa-chart-bar"></i>
        {{ artic_barcode_metadata.hidden_barcode_name }} Results Summary
    </h4>
</div>
<div class="card-body ">
    <div class="col-md-12 alert alert-success" id="artic-message" role="alert" style="display: none;"></div>
    <div class="col-md-12">
        <div>Summary of barcode data.
            {% if artic_barcode_metadata.hidden_marked_for_rerun %}
                <div id="marked-rerun"><strong>MARKED FOR RERUN</strong></div.
            {% endif %}
            {% if artic_barcode_metadata.hidden_triggered_by_cleanup %}
                <div id="" style="font-size: 1.5rem"><strong>TRIGGERED WITHOUT SUFFICIENT COVERAGE</strong></div.
            {% endif %}
            </div>
            <div>
                <table class="table table-responsive-md table-sm table-striped">
                    {% for key, value in artic_barcode_metadata.items %}
                        <tr>
                            {% if "hidden" not in key %}
                                <th>
                                    {{ key }}
                                </th>
                                <td>
                                    {{ value }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                {% if artic_barcode_metadata.hidden_has_finished %}
                    <button class="btn btn-primary" data-toggle="modal" data-target="#results-builder" data-all=""
                            data-barcode="{{ artic_barcode_metadata.hidden_barcode_pk }}">Download Results
                        Files
                    </button>
                    {% if not artic_barcode_metadata.hidden_marked_for_rerun and artic_barcode_metadata.hidden_has_fastq %}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#confirm-re-run"
                                id="rerun-btn">
                            Re-run Artic Command
                        </button>
                    {% endif %}
                {% endif %}
                {% if not artic_barcode_metadata.hidden_has_command_job_master %}
                    <button class="btn btn-primary" id="manual-trigger"
                            onclick="flowcellController.flowcellTabController.articController.manuallyTriggerPipeline({{ artic_barcode_metadata.hidden_flowcell_id }}, {{ artic_barcode_metadata.hidden_barcode_pk }}, {{ artic_barcode_metadata.hidden_job_master_id }}, event)">
                        Manually trigger
                    </button>
                {% endif %}
            </div>
        </div>
        {% if artic_barcode_metadata.hidden_has_finished %}
            <div class="col-md-12" style="padding-top:1rem">
                <div>Pangolin Lineage Assignments.</div>
                <div class="table table-responsive">
                    {{ artic_barcode_metadata.hidden_html_string | safe }}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% if artic_barcode_metadata.hidden_has_finished %}
    <div class="modal fade" id="confirm-re-run" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div style="border-radius: 25px" class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-label">Confirm Re-run
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to re-run this command? Current data will be overwritten.
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="submit-task" class="btn btn-success success" type="reset" data-dismiss="modal"
                            onclick="flowcellController.flowcellTabController.articController.reRunArticCommand({{ artic_barcode_metadata.hidden_flowcell_id }} ,`{{ artic_barcode_metadata.hidden_barcode_pk }}`, event)">
                        Re-run
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
