.navbar-minotour {
    background-color: #6bb9f0;
}
.red-alert{
    background-color: rgba(255, 0, 0, 0.7);
    /*background-image: url("face-screaming-in-fear_1f631.png");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}
.yellow-alert{
    background-color: rgba(242, 249, 17, 0.8);
    /*background-image: url("thinking-face_1f914.png");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}
.orange-alert{
    background-color: rgba(255, 179, 42, 0.8);
    /*background-image: url("face-with-open-mouth_1f62e.png");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}
.green-alert{
    background-color: rgba(0, 128, 0, 0.7);
    /*background-image: url("face-with-tears-of-joy_1f602.png");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/

}
.map-alert{
    font-size: 18px;
    font-weight: 800;
}
.dataTables_scrollHeadInner {
    width: 100% !important;
}

.dataTables_scrollHeadInner table {
    width: 100% !important;
}

.dataTables_scrollFootInner {
    width: 100% !important;
}

.dataTables_scrollFootInner table {
    width: 100% !important;
}

.taxons td {
    padding: 0.29% !important;
}
