{#{% load humanize %}#}

<table class="table">
    <thead>
    <th>Barcode</th>
    <th>Read type</th>
    <th>Status</th>
    <td align="right"><strong>Reads called</strong></td>
    <td align="right"><strong>Yield</strong></td>
    <td align="right"><strong>Average read length</strong></td>
    <td align="right"><strong>Maximum read length</strong></td>
    </thead>
    <tbody>
    {% for record in qs|dictsort:"barcode_name" %}
        <tr>
            <td>{{ record.barcode_name }}</td>
            <td>{{ record.read_type_name }}</td>
            <td>
                {% if record.status == "True" %}
                Pass
                {% else %}
                Fail
                {% endif %}
            </td>
            <td align="right">{{ record.read_count }}</td>
            <td align="right">{{ record.total_length }}</td>
            <td align="right">{{ record.average_read_length|floatformat:"0" }}</td>
            <td align="right">{{ record.max_length }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
