{% load humanize %}
{% for record in result_basecalled_summary %}

    {% if forloop.first %}

        <div class='table-responsive'>
        <table class="table table-bordered", style="text-align: center">
        <thead class="thead-light">
        <th align="left">Run</th>
        <th align="right">Runid</th>
        <th align="right">First Read</th>
        <th align="right">Last Read</th>
        <th align="right">Read Count</th>
        <th align="right">Yield</th>
        <th align="right">Min Read Length</th>
        <th align="right">Avg Read Length</th>
        <th align="right">Max Read Length</th>
        </thead>
        <tbody>

    {% endif %}

    <tr>
        <td align="right">{{ forloop.counter }}</td>
        <td>{{ record.runid }}</td>
        <td align="right">{{ record.first_read_start_time }}</td>
        <td align="right">{{ record.last_read_start_time }}</td>
        <td align="right">{{ record.read_count|intcomma }}</td>
        <td align="right">{{ record.total_read_length|intcomma }}</td>
        <td align="right">{{ record.min_read_length|intcomma }}</td>
        <td align="right">{{ record.avg_read_length|intcomma }}</td>
        <td align="right">{{ record.max_read_length|intcomma }}</td>
    </tr>

    {% if forloop.last %}
        </tbody>

        </table>

        </div>
    {% endif %}

{% empty %}

No information available.

{% endfor %}
