{% load humanize %}
{% if result_basecalled_summary %}
<div class="obsidian-table-wrap">
    <table class="table table-hover table-sm summary-data-table">
        <thead>
        <tr>
        <th scope="col">Run</th>
        <th scope="col">Runid</th>
        <th scope="col">First read</th>
        <th scope="col">Last read</th>
        <th scope="col">Read count</th>
        <th scope="col">Yield</th>
        <th scope="col">Min read length</th>
        <th scope="col">Avg read length</th>
        <th scope="col">Max read length</th>
        </tr>
        </thead>
        <tbody>

        {% for record in result_basecalled_summary %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ record.runid }}</td>
                <td>{{ record.first_read_start_time }}</td>
                <td>{{ record.last_read_start_time }}</td>
                <td>{{ record.read_count|intcomma }}</td>
                <td>{{ record.total_read_length|intcomma }}</td>
                <td>{{ record.min_read_length|intcomma }}</td>
                <td>{{ record.avg_read_length|intcomma }}</td>
                <td>{{ record.max_read_length|intcomma }}</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

</div>
{% else %}

<p class="summary-empty">No information available.</p>
{% endif %}
