{% for record in run_list %}

    {% if forloop.first %}

        <div class="obsidian-table-wrap">
        <table class="table table-hover table-sm summary-data-table">
        <thead>
        <tr>
        <th scope="col" class="text-right">Run</th>
        <th scope="col">Runid</th>
        <th scope="col" class="text-right">Run start time</th>
        <th scope="col" class="text-right">Computer name</th>
        <th scope="col" class="text-right">MinION ID</th>
        <th scope="col" class="text-right">ASIC ID</th>
        <th scope="col" class="text-right">Sequencing kit</th>
        <th scope="col" class="text-right">Purpose</th>
        <th scope="col" class="text-right">minKNOW version</th>
        <th scope="col" class="text-right">Flowcell type</th>
        <th scope="col" class="text-right">Flowcell ID</th>
        <th scope="col">Sample name</th>
        <th scope="col">Experiment name</th>
        </tr>
        </thead>
        <tbody>

    {% endif %}

    <tr>
        <td class="text-right">{{ forloop.counter }}</td>
        <td>{{ record.runid }}</td>
        <td class="text-right">{{ record.run_start_time }}</td>
        <td class="text-right">{{ record.minknow_computer_name }}</td>
        <td class="text-right">{{ record.minion_id }}</td>
        <td class="text-right">{{ record.asic_id }}</td>
        <td class="text-right">{{ record.sequencing_kit }}</td>
        <td class="text-right">{{ record.purpose }}</td>
        <td class="text-right">{{ record.minknow_version }}</td>
        <td class="text-right">{{ record.flowcell_type }}</td>
        <td class="text-right">{{ record.flowcell_id }}</td>
        <td>{{ record.sample_name }}</td>
        <td>{{ record.experiment_name }}</td>
    </tr>

    {% if forloop.last %}
        </tbody>

        </table>

        </div>
    {% endif %}

{% empty %}

<p class="summary-empty">No information available.</p>

{% endfor %}
