{% for record in message_list|dictsortreversed:"timestamp" %}

    {% if forloop.first %}

        <div class='table-responsive'>
        <table class="table table-sm table-striped table-hover ">
        <thead>
        <th>Message</th>
        <th>Time</th>
        </thead>
        <tbody>

    {% endif %}

    {%  if record.full_text|length > 0 %}

        <tr>
        <td>{{ record.full_text }}</td>
        <td>{{ record.timestamp }}</td>
        </tr>

    {% else %}
    <tr>
        <td>{{ record.message }}</td>
        <td>{{ record.timestamp }}</td>
    </tr>

    {%  endif %}

    {% if forloop.last %}
        </tbody>

        </table>

        </div>
    {% endif %}

{% empty %}

No information available.

{% endfor %}
