#!/bin/bash
export MT_SECRET_KEY=''
export MT_DJANGO_DEBUG=''
export MT_DB_USER='root'
export MT_DB_PASS='toor'
export MT_DB_HOST='localhost'
export MT_DB_PORT='3306'
export MT_DB_NAME='minotour'
export MT_MAILGUN_ACCESS_KEY=''
export MT_MAILGUN_SERVER_NAME=''
export MT_TWITTOKEN=''
export MT_TWITTOKEN_SECRET=''
export MT_TWITCONSUMER_KEY=''
export MT_TWITCONSUMER_SECRET=''
export MT_REFERENCE_LOCATION='/home/mbzros/a/data'
export PATH="$HOME/a/opt/minimap2:$HOME/a/opt/bwa:$PATH"
export MT_CENTRIFUGE="~/MinoTourTools/centrifuge-1.0.4-beta/centrifuge"
export MT_CENT_INDEX="/home/rory/testData/p_compressed"
export MT_MINIMAP2="~/a/opt/minimap2/minimap2"
export MT_BWA="~/a/opt/bwa/bwa"
export MT_DB_ENGINE="django.db.backends.mysql"
