<div class="card ">
    <div class="card-heading">
        <h3 class="card-header">Advanced Mapping Data</h3>
    </div>
    <div class="card-body">
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <div class="sel sel--black-panther" style="display: none">
                    <select name="select-chromsome" id="select-chromosome">

                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="coverageScatterDetail" style="height: 400px">
                </div>
            </div>
            <div class="col-md-12">
                <div id="coverageScatterMaster">
                </div>
            </div>
            <div class="col-md-12">
                <div id="benefitDetail">
                </div>
            </div>
            <div class="col-md-12">
                <div id="costForwardScatterDetail">
                </div>
            </div>
            <div class="col-md-12">
                <div id="costReverseScatterDetail">
                </div>
            </div>

            <div class="col-md-12">
                <div id="scoresForwardDetail">
                </div>
            </div>
            <div class="col-md-12">
                <div id="scoresReverseDetail">
                </div>
            </div>
            <div class="col-md-12">
                <div id="maskStepLineFwdDetail">
                </div>
            </div>
            <div class="col-md-12">
                <div id="maskStepLineRevDetail">
                </div>
            </div>
        </div>
    </div>
</div>