<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Advanced Mapping Data</h3>
    </div>
    <div class="panel-body">
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <div class="sel sel--black-panther" style="display: none">
                    <select name="select-chromsome" id="select-chromosome">

                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="coverageScatterDetail" style="height: 400px">
                </div>
            </div>
            <div class="col-md-12">
                <div id="coverageScatterMaster">
                </div>
            </div>
            <div class="col-md-12">
                <div id="benefitDetail">
                </div>
            </div>
            <div class="col-md-12">
                <div id="costForwardScatterDetail">
                </div>
            </div>
            <div class="col-md-12">
                <div id="costReverseScatterDetail">
                </div>
            </div>

            <div class="col-md-12">
                <div id="scoresForwardDetail">
                </div>
            </div>
            <div class="col-md-12">
                <div id="scoresReverseDetail">
                </div>
            </div>
            <div class="col-md-12">
                <div id="maskStepLineFwdDetail">
                </div>
            </div>
            <div class="col-md-12">
                <div id="maskStepLineRevDetail">
                </div>
            </div>
        </div>
    </div>
</div>
{#<div class="panel panel-info">#}
{#    <div class="panel-heading">#}
{#        <h3 class="panel-title">Simple Mapping Data</h3>#}
{#    </div>#}
{#    <div class="panel-body">#}
{#        <div>#}
{#            <div class="row">#}
{##}
{#                <div class="col-md-12 highcharts">#}
{#                    <form class="form-horizontal">#}
{#                        <div class="form-group">#}
{#                            <label class="col-sm-2 advanced-control-label">Chromosome</label>#}
{##}
{#                            <div class="col-sm-10 control-label" style="height: 100%; text-align: left;">#}
{#                                <select id="advanced-chromosome-id-select"#}
{#                                        onchange="flowcellController.advanced_coverage_chart_controller.reload_master_chart()"></select>#}
{#                                <a href="#" class="btn btn-primary"#}
{#                                   onclick="flowcellController.advanced_coverage_chart_controller.reload_master_chart()">Reset#}
{#                                    chart</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{##}
{#                <div id="advanced-coverage_div" class="col-md-12 highcharts" style="width:100%">#}
{#                    <div id="advanced-coverage_div_detail" class="detail_chart" style="height: 400px"></div>#}
{#                    <div id="advanced-coverage_div_master" class="master_chart"></div>#}
{#                </div>#}
{##}
{#                <div id="advanced-per-chrom-cov"#}
{#                     class="col-md-12 highcharts"#}
{#                     style="width:50%; height:300px;">#}
{##}
{#                </div>#}
{##}
{#                <div id="advanced-per-chrom-avg"#}
{#                     class="col-md-12 highcharts"#}
{#                     style="width:50%; height:300px;">#}
{##}
{#                </div>#}
{##}
{#                <div class="row">#}
{##}
{#                    <div class="col-md-12" id="advanced-mapping-summary">#}
{#                        <table class="table table-hover advanced-mapping-table" style="width: 100%">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th>Barcode</th>#}
{#                                <th>Sequence Name</th>#}
{#                                <th>Sequence Length</th>#}
{#                                <th>Read Count</th>#}
{#                                <th>Yield</th>#}
{#                                <th>Average Read Length</th>#}
{#                                <th>Coverage</th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tfoot>#}
{#                            <tr>#}
{#                                <th>Barcode</th>#}
{#                                <th>Sequence Name</th>#}
{#                                <th>Sequence Length</th>#}
{#                                <th>Read Count</th>#}
{#                                <th>Yield</th>#}
{#                                <th>Average Read Length</th>#}
{#                                <th>Coverage</th>#}
{#                            </tr>#}
{#                            </tfoot>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}