<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Advanced Mapping Data</h3>
    </div>
    <div class="panel-body">
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <div class="sel sel--black-panther" style="display: none">
                    <select name="select-chromsome" id="select-chromosome">

                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="coverageScatterDetail" style="height: 400px">
                </div>
            </div>
            <div class="col-md-12">
                <div id="coverageScatterMaster">
                </div>
            </div>
        </div>
    </div>