<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-chart-bar"></i>
            Artic Coverage Charts
        </h3>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div id="artic-per-barcode-classification" class="col-md-2 highcharts"
                     style="height:300px;">
                </div>
                <div id="artic-per-barcode-coverage" class="col-md-5 highcharts"
                     style="height:300px;">
                </div>
                <div id="artic-per-barcode-average-length"
                     class="col-md-5 highcharts"
                     style=" height:300px;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-chart-bar"></i>
            Pipeline firing conditions
        </h3>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <form class="form-horizontal" id="fire-conditions">
                    <div class="form-group">
                        <div class="col-md-12 control-label" style="height: 100%; text-align: left;">
                            <label for="90-input" style="display: inline">X Coverage at 90% of bases:</label>
                            <input type="number" id="90-input" class="ms" min="150" max="500">
                            <label for="95-input" style="display: inline">X Coverage at 95% of bases:</label>
                            <input type="number" id="95-input" class="ms" min="150" max="500">
                            <label for="99-input" style="display: inline">X Coverage at 99% of bases:</label>
                            <input type="number" id="99-input" class="ms" min="20" max="500">
                            <button type="button" class="btn btn-light" id="update-fire-params" disabled>Submit
                                changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h4 class="card-title">
            <i class="fas fa-chart-bar"></i>
            Summary Table (Pass reads only)
        </h4>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <table class="table table-hover" id="artic-coverage-summary-table" style="width: 100%">
                <thead>
                <tr>
                    <th>Barcode</th>
                    <th>Sequence Name</th>
                    <th>Sequence Length</th>
                    <th>Read Count</th>
                    <th>Yield</th>
                    <th>Average Read Length</th>
                    <th>Coverage</th>
                    <th># Partial Amplicons</th>
                    <th># Failed Amplicons</th>
                    <th># Success Amplicons</th>
                    <th>Mean of amplicons</th>
                    <th>Var of amplicons</th>
                    <th>Amplicon Std. Dev</th>
                    <th>Lineage</th>
                    <th>Sufficient Coverage</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Barcode</th>
                    <th>Sequence Name</th>
                    <th>Sequence Length</th>
                    <th>Read Count</th>
                    <th>Yield</th>
                    <th>Average Read Length</th>
                    <th>Coverage</th>
                    <th># Partial Amplicons</th>
                    <th># Failed Amplicons</th>
                    <th># Success Amplicons</th>
                    <th>Mean of amplicons</th>
                    <th>Var of amplicons</th>
                    <th>Amplicon Std. Dev</th>
                    <th>Lineage</th>
                    <th>Sufficient Coverage</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-primary">
            <div class="card-body">
                <div id="all-command-artic-messages"></div>
                <button class="btn btn-primary" id="download-results-all" data-toggle="modal"
                        data-target="#results-builder" data-all="true" data-barcode="-1" disabled>
                    Download all completed
                </button>
                <button class="btn btn-primary" id="run-all-incomplete">
                    Run all Incomplete
                </button>
                <button class="btn btn-primary" id="rerun-all">
                    Re-Run All
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 1rem">
    <div class="col-md-8">
        <div class="h-100 card card-primary card-outline">
            <div class="card-header">
                <h4 class="card-title" id="coverage-card-title">
                    <i class="fas fa-chart-bar"></i>
                    Coverage Plots (Passed Reads)
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <select name="select-artic-barcode" id="select-artic-barcode">
                        </select>
                        <!-- Default checked -->
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="log-coverage" disabled>
                            <label class="custom-control-label" for="log-coverage">Log Coverage</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>Select a barcode from the select box and then highlight a region on this coverage chart to
                            see it in detail below.
                        </div>
                        <div id="coverageArticMaster">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="coverageArticDetail">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="h-100 card card-primary card-outline">
            <div id="articMetaInfo">
                <div class="card-header">
                    <h4 class="card-title"><i class="fas fa-chart-bar"></i>
                        Barcode Results Summary
                    </h4>
                </div>
                <div class="card-body ">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="artic-pngs">
</div>
<div id="modal-container">
</div>