<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-chart-bar"></i>
            Artic Coverage Charts
        </h3>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div id="artic-per-barcode-coverage" class="col-md-6 highcharts"
                     style="height:300px;">
                </div>
                <div id="artic-per-barcode-average-length"
                     class="col-md-6 highcharts"
                     style=" height:300px;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary card-outline">
    <div class="card-header">
        <h4 class="card-title">
            <i class="fas fa-chart-bar"></i>
            Summary Table
        </h4>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <table class="table table-hover" id="artic-coverage-summary-table" style="width: 100%">
                <thead>
                <tr>
                    <th>Barcode</th>
                    <th>Sequence Name</th>
                    <th>Sequence Length</th>
                    <th>Read Count</th>
                    <th>Yield</th>
                    <th>Average Read Length</th>
                    <th>Coverage</th>
                    <th>Percent Bases at 200x</th>
                    <th>Percent Bases at 250x</th>
                    <th>Sufficient Coverage</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Barcode</th>
                    <th>Sequence Name</th>
                    <th>Sequence Length</th>
                    <th>Read Count</th>
                    <th>Yield</th>
                    <th>Average Read Length</th>
                    <th>Coverage</th>
                    <th>Percent Bases at 200x</th>
                    <th>Percent Bases at 250x</th>
                    <th>Sufficient Coverage</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 1rem">
    <div class="col-md-8">
        <div class="h-100 card card-primary card-outline">
            <div class="card-header">
                <h4 class="card-title">
                    <i class="fas fa-chart-bar"></i>
                    Coverage Plots
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <select name="select-artic-barcode" id="select-artic-barcode">
                        </select>
                        <!-- Default checked -->
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="log-coverage" disabled>
                            <label class="custom-control-label" for="log-coverage">Log Coverage</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="coverageArticDetail" style="height: 400px">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="coverageArticMaster">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="h-100 card card-primary card-outline">
            <div id="articMetaInfo">
                <div class="card-header">
                    <h4 class="card-title"><i class="fas fa-chart-bar"></i>
                         Barcode Metadata
                    </h4>
                </div>
                <div class="card-body ">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="artic-pngs">
</div>