<div class="col-md-12">
    <div class="card">
        <div class="card-heading">
            <h3 class="card-header">Latest Assembly Stats </h3>
        </div>
        <div class="card-body" style="max-height: 1;overflow-y: scroll;">
            <div id="AssemblyTable">
                Fetching Data
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"
                         role="progressbar"
                         aria-valuenow="45" aria-valuemin="0"
                         aria-valuemax="100" style="width: 45%">
                        <span class="sr-only">45% Complete</span>
                    </div>
                </div>
            </div>
            <div id="contigs-boxplot"
                 class="col-md-12 highcharts"
                 style="height:400px;">
                <i class="fa fa-cog fa-spin fa-3x"></i>
                Calculating
            </div>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="card ">
        <div class="card-heading">
            <h3 class="card-header">Assembly Progress</h3>
        </div>
        <div class="card-body" style="max-height: 1;overflow-y: scroll;">

            <div class="row">
    <div id="num-contigs"
         class="col-md-4 highcharts"
         style="height:400px;">
        <i class="fa fa-cog fa-spin fa-3x"></i>
        Calculating
    </div>



    <div id="n50-contigs"
         class="col-md-4 highcharts"
         style="height:400px;">
        <i class="fa fa-cog fa-spin fa-3x"></i>
        Calculating
    </div>



    <div id="sum-contigs"
         class="col-md-4 highcharts"
         style="height:400px;">
        <i class="fa fa-cog fa-spin fa-3x"></i>
        Calculating
    </div>
</div>


        </div>
    </div>
</div>



<span id="assembly-data"></span>
