<div class="row">
    <div id="chart-yield" class="col-md-12 highcharts"
         style="height:400px; display:block;">
        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Yield
    </div>
</div>
<div class="row">
    <div id="poreshizzle" class="col-md-12 highcharts"
         style="height:400px;display:block;">
        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Read Numbers
    </div>
</div>

<div class="row">
    <div id="live-histogram" class="col-md-12 highcharts-container"
         style="width:100%; height:400px;display:block;">
        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Read Numbers
    </div>
</div>

<div class="row">
    <div id="live-strand" class="col-md-6 highcharts"
         style="width:50%; height:400px;display:block;">
        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Strand
    </div>

    <div id="live-occupancy" class="col-md-6 highcharts"
         style="width:50%; height:400px;display:block;">
        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Occupancy
    </div>
</div>

<div class="row">
    <div id="live-temperature" class="col-md-6 highcharts"
         style="width:50%; height:400px;">
        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Yield
        Projections
    </div>

    <div id="live-voltage" class="col-md-6 highcharts"
         style="width:50%; height:400px;">
        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Yield
        Projections
    </div>
</div>
