<div class="card card-primary card-outline">
    <div class="card-header">
        <h4 class="card-title">
            <i class="fas fa-chart-bar"></i>
            Minimap2 Data
        </h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div id="per-chrom-cov"
                 class="col-md-6 highcharts"
                 style="width:50%; height:300px;">
                <i class="fa fa-cog fa-spin fa-3x"></i>
                Calculating
            </div>
            <div id="per-chrom-avg"
                 class="col-md-6 highcharts"
                 style="width:50%; height:300px;">
                <i class="fa fa-cog fa-spin fa-3x"></i>
                Calculating
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="mapping-summary">
                <table class="table table-hover mapping-table" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Barcode</th>
                        <th>Reference Name</th>
                        <th>Sequence Name</th>
                        <th>Sequence Length</th>
                        <th>Read Count</th>
                        <th>Yield</th>
                        <th>Average Read Length</th>
                        <th>Coverage</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Barcode</th>
                        <th>Reference Name</th>
                        <th>Sequence Name</th>
                        <th>Sequence Length</th>
                        <th>Read Count</th>
                        <th>Yield</th>
                        <th>Average Read Length</th>
                        <th>Coverage</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 highcharts">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12 control-label" style="height: 100%; text-align: left;">
                            <label for="referenceSelect" style="display: inline">Reference:</label>
                            <select id="referenceSelect" class="custom-select ms">
                            </select>

                            <label for="readTypeSelect" style="display: inline">Read Type:</label>
                            <select id="readTypeSelect" class="custom-select ms" >
                            </select>
                            <label for="chromosomeSelect" style="display: inline">Chromosome:</label>
                            <select id="chromosomeSelect" class="custom-select ms" ></select>
                            <label for="barcodeSelect" style="display: inline">Barcode:</label>
                            <select id="barcodeSelect" class="custom-select ms" ></select>
                            <button type="button" class="btn btn-light" id="reset-chart-zoom" disabled>Reset chart zoom</button>

                        </div>
                    </div>
                </form>
            </div>
            <div id="coverage_div" class="col-md-12 highcharts" style="width:100%">
                <div id="coverage_div_detail" class="detail_chart" style="height: 400px"></div>
                <div id="coverage_div_master" class="master_chart" style="height: 10rem"></div>
            </div>
        </div>
    </div>
</div>