<!-- metagenomicstab.html -->
{% load visview %}
{% load static %}
<script src="{% static 'web/js/vis-d3/sankey.js' %}"></script>
<script src="{% static 'web/js/vis-d3/donutdothat.js' %}"></script>
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div class="metagenomics-settings">
    <h1>Hello world!</h1>
    <h3>Classification not previously run. Run classification?</h3>
    <div class="card-footer">
        <button type="submit" href="{url}" id="startCent" class="btn btn-primary">Submit
        </button>
    </div>
</div>
<div class="vis-container" style="display: contents">
    {% render_vis %}
</div>
<script>
    'use strict';
    {#testHello(5);#}
    {#setup();#}
    $("#startCent").click(function () {
        var flowCellId = document.querySelector("#flowcell-id");
        $(".loaded").removeClass('loaded');
        $(".metagenomics-settings").css("display", "none");
        $(".vis-container").css("display", "contents");
        console.log(flowCellId.value);
        $.post("/start/", {'csrfmiddlewaretoken': '{{ csrf_token }}', "flowcellId": flowCellId.value}).done(function (data) {
            alert("Job Created");
        });
        testHello(5);

    });
</script>
