<div class="row">
    <div class="col-md-12">
        Sequence Identification Content
        <div id="read_type_select"><select id="krakenSelectRead"></select></div>
        <div id="barcode_type_select"><select id="krakenSelectBarcode"></select></div>
        <div id="range_select"><input id="lowerboundselect" type="range" min="0" max="10"></input>
        </div>
        <div id="kraken_barcode_select"></div>
    </div>
</div>

<div class="row">
    <div id="kraken-sankey"
         class="col-md-12 highcharts"
         style="width:100%; height:800px;">
        <i class="fa fa-cog fa-spin fa-3x"></i>
        Select a read type or barcode to generate a plot.
    </div>
</div>