<div class="row">
    <div class="col-md-12">
        <div class='panel panel-info'>
            <div class='panel-heading'>
                <h3 class='panel-title'>minKNOW real time data</h3>
            </div>
            <div class='panel-body'>

                {% include 'web/flowcell_runs.html' %}

                <div id="target_for_data">Loading Flowcell Data.</div>
                <i>Please note: <b>'Known Issue'</b> Fields for this table are only completely
                    populated
                    if MinKNOW has been monitored with mincontrol. If not, then many fields will be
                    missing.</i>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-comments"></i> MinKNOW Messages
                </h3>
            </div>

            <div id="Messages">
                <div class="panel-body">
                    No messages available.
                </div>
            </div>
        </div>
    </div>
</div>