<div class="row">
    <div class="col-md-12">
        <div class='card'>

            <h3 class='card-header'>Live Data Summary</h3>

            <div class='card-body'>
                <div id="run-summaries-div" class="spinner-border text-warning" role="status">
                    <span class="sr-only">Loading data...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class='card'>

            <h3 class='card-header'>Basecalled Data Summary</h3>

            <div class='card-body'>
                <div id="flowcell_run_basecalled_summary_html_div" class="spinner-border text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h3 class="card-header"><i class="fa fa-comments"></i> MinKNOW Messages (most recent first)</h3>

            <div class="card-body">
                <div id="minknow-messages-div" class="spinner-border text-warning" role="status">
                    <span class="sr-only">Loading data...</span>
                </div>
            </div>
        </div>
    </div>
</div>