<div class="row">

    <div class="col-md-12">

        <div class="alert alert-warning text-center" role="alert">To populate the table, please click on a column header. Be patient, a lot of data is being sorted in the
                background!</div>

        <div class='card '>
            <div class='card-header'>
                <h3 class='card-header'>Reads</h3>
            </div>
            <div class='cards-body'>

                <table id="example" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>Read ID</th>
                        <th>Read</th>
                        <th>Channel</th>
                        <th>Sequence Length</th>
                        <th>RunID</th>
                        <th>Barcode</th>
                        <th>Command</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Read ID</th>
                        <th>Read</th>
                        <th>Channel</th>
                        <th>Sequence Length</th>
                        <th>RunID</th>
                        <th>Barcode</th>
                        <th>Command</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>

<script>

    function format(rowData) {
        // function to add the sequence on drop down
        var div = $('<div/>')
            .addClass('loading')
            .text('Loading...');

        $.ajax({
            url: '/api/v1/readsextra/?search_criteria=read_id&search_value=' + rowData.read_id,
            //dataType: 'json',
            success: function (json) {

                var textarea = $('<textarea rows=10 cols=100/>');

                div
                    .html('')
                    .removeClass('loading');

                textarea.text(json.sequence);

                div.append(textarea);
            }
        });

        return div;
    }
</script>
