<div class="row">
    <div id="messageView" class="col-md-12" style="display: none"></div>

    <div class="col-md-3">
        <div class="card card-primary card-outline" style="min-height: 25rem">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-thumbtack"></i>
                    Create a new analysis task
                </h3>
            </div>

            <div class="card-body">

                <form method="post" id="post-form-task-create">
                    {% csrf_token %}
                    <input style="display: none" type="hidden" name="flowcell" value="{{ flowcell.id }}"/>
                    <div class="form-group">
                        <label for="job-type-select">Task type</label>
                        <select class="form-control" name="job-type" id="job-type-select"></select>
                    </div>
                    <div class="form-group">
                        <label id="select-label" for="reference-select">Reference</label>
                        <select class="form-control" name="reference" id="reference-select" disabled></select>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" id="checkbox-label" for="from-database">Run from
                            database</label>
                        <input class="form-check-input" name="from-database" id="from-database" type="checkbox">
                    </div>

                    <input type="submit" value="Create" class="btn btn-primary" id="btn_task_create">

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-primary card-outline" style="min-height: 25rem">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-tasks"></i>
                    Tasks
                </h3>
            </div>

            <div class="card-body">
                <table class="table table-hover tasktable display" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Task type</th>
                        <th>Read count</th>
                        <th>Running</th>
                        <th>Complete</th>
                        <th>Reference</th>
                        <th>Automatic</th>
                        <th>From Database</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Task type</th>
                        <th>Read count</th>
                        <th>Running</th>
                        <th>Complete</th>
                        <th>Reference</th>
                        <th>Automatic</th>
                        <th>From Database</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">

</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-warning card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-redo-alt"></i>
                    Reactivate flowcell
                </h3>
            </div>

            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12" id="messageViewReactivate"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"
                             style="display: flex; justify-content: center; align-content: center; flex-direction: column;">
                            <button name="reactivate_flowcell" class="btn btn-warning"
                                    onclick="taskController.reactivateFlowcell(event)">Reactivate
                            </button>
                        </div>
                        <div class="col-md-10">
                            <p>We don't expect manually reactivating a flowcell to be necessary, as starting a task
                                should
                                reactivate an inactivated flowcell.
                                However if for some reason you need to reactivate a flowcell to start a task running
                                again, hit this
                                button.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div style="border-radius: 25px" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Confirm Delete?
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you wish to delete this
                    flowcell?</p>
                <label for="flowcell-name">Please enter flowcell name as confirmation.</label>
                <input type="text" id="flowcell-name"> <i class="fab fa-galactic-republic disallowed"></i>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button href="#" id="submit-task-delete" class="btn btn-success success" disabled>Submit</button>
            </div>
        </div>
    </div>
</div>
