<div class="row">
    <div id="messageView"></div>

    <div class="col-md-12">
        <div class='panel panel-info'>
            <div class='panel-heading'>
                <h3 class='panel-title'>Create a new analysis task</h3>
            </div>
            <div class='panel-body'>

                <form method="post" id="post-form-task-create" onsubmit="mTaskController.create_new_job(event)">
                    {% csrf_token %}
                    <input type="hidden" name="flowcell" value="{{ flowcell.id }}"/>
                    <div class="form-group">
                        <label for="job_type_id">Task type</label>
                        <select class="form-control" name="job_type" id="id_job_type"></select>
                    </div>
                    <div class="form-group">
                        <label id="select-label" for="reference_id">Reference</label>
                        <select class="form-control" name="reference" id="id_reference"></select>
                    </div>

                    <input type="submit" value="Create" class="btn btn-primary" id="btn_task_create">

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row tasktablecont">
    <div class="col-md-12">
        <div class='panel panel-info'>
            <div class='panel-heading'>
                <h3 class='panel-title'>Tasks</h3>
            </div>
            <div class='panel-body'>
                <table class="table table-hover tasktable display" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Task type</th>
                        <th>Last read</th>
                        <th>Read count</th>
                        <th>Running</th>
                        <th>Complete</th>
                        <th>Reference</th>
                        <th>Automatic</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Task type</th>
                        <th>Last read</th>
                        <th>Read count</th>
                        <th>Running</th>
                        <th>Complete</th>
                        <th>Reference</th>
                        <th>Automatic</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class='panel panel-info'>
            <div class='panel-heading'>
                <h3 class='panel-title'>Reactivate flowcell</h3>
            </div>
            <div class='panel-body'>

                <div id="messageViewReactivate"></div>

                <button name="reactivate_flowcell" class="btn button" onclick="mTaskController.reactivateFlowcell(event)">Reactivate</button>

                <p><br>We don't expect manually reactivating a flowcell to be necessary, as starting a task should reactivate an inactivated flowcell.
                    However if for some reason you need to reactivate a flowcell to start a task running again, hit this button.</p>
            </div>
        </div>
    </div>
</div>