{% extends "web/template_private.html" %}

{% block content %}
    <div class="content-wrapper" style="background-color: white">

        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="card">
                    <h2 class="card-header">About</h2>
                    <div class="card-body">
                        <h2 class="box-title">Welcome to minoTour - a real time analysis platform for minION reads.</h2>
                        <p id="notice">minoTour is a platform in development. We are re-releasing it now but it may
                            contain <strong>errors</strong> and <strong>bugs</strong>.<br>
                            Bug reports and issues should be logged on our github project - <a
                                    href="https://github.com/LooseLab/minotourapp" target="_blank">https://github.com/LooseLab/minotourapp</a>

                        </p>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}

{% block javascript %}

    <script>
        const topPadding = $(".main-header").height() + 16;
        $(".content-wrapper").css("padding-top", `${topPadding}px`);
        set_active_navbar_item(5);
    </script>
{% endblock %}
