{% extends "web/template_private.html" %}

{% block content %}
    <div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h4 class="card-title">About</h4>
                    </div>
                    <div class="card-body">
                        <h6 >Welcome to minoTour - a real time analysis platform for minION reads.</h6>
                        <p id="notice">minoTour is a platform in development. We are re-releasing it now but it may
                            contain <strong>errors</strong> and <strong>bugs</strong>.
                            Bug reports and issues should be logged on our github project - <a
                                    href="https://github.com/LooseLab/minotourapp" target="_blank">https://github.com/LooseLab/minotourapp</a>

                        </p>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}

{% block javascript %}

    <script>
        setActiveNavbarItem(5);
    </script>
{% endblock %}
