{% extends "web/template_private.html" %}

{% block content %}
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <span>External Links <small>- a number of useful external links.</small></span>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-edit"></i> External Links</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Links</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <a href="https://www.nanoporetech.com" target="_blank">
                        <img src="https://nanoporetech.com/themes/custom/nanopore/images/ont-logo.svg">
                        <span>Oxford Nanopore</span>
                    </a>
                    <br>
                    <br>
                    <a href="http://www.nottingham.ac.uk/deepseq/index.aspx" target="_blank">
                        <span>DeepSeq at the University of Nottingham</span>
                    </a>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}