{% extends "web/template_private.html" %}
{% load static %}

{% block content %}
    <div class="content-wrapper" style="background-color: white">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Flowcells <small> - select a Flowcell for more information.</small></h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Main top nav bar -->

            <div id="messages"></div>

            <div class="box-body">
                <table id="all-runs" class="table table-bordered table-striped table-hover" style="width:100%"
                       cellspacing="0">
                    <thead>
                    <tr>
                        <th>Flowcell<br/>Name</th>
                        <th>Flowcell<br/>Size</th>
                        <th>Sample<br/>Name</th>
                        <th>Start<br/>Time</th>
                        <th>Number<br/>of Reads</th>
                        <th>Number<br/>of Reads Processed</th>
                        <th>Number<br/>of Runs</th>
                        <th>Number<br/>of Barcodes</th>
                        <th>Yield</th>
                        <th>Average<br/>Read Length</th>
                        <th>Status</th>
                        <th>Contains<br/>sequence data</th>
                        <th>Is Owner</th>
                        <th>Permission</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}

{% block javascript %}
    <script>
        var table_all_runs;

        $(document).ready(function () {
            $.fn.dataTable.render.format_link = function () {
                return function (data, type, full, meta) {

                    return `<a href="/web/private/flowcells/${full["id"]}/">${data}</a>`;
                };
            };

            table_all_runs = $('#all-runs').DataTable({
                // callback for each created row, add styling class so cursor is pointer showing it's a link
                "createdRow": function (row, data, index) {
                    $(row).addClass("stylable");
                },

                "scrollX": true,
                "order": [[3, "desc"]],
                'ajax': {
                    'url': "{% url 'flowcell-list' %}",

                },

                'columnDefs': [
                    {
                        'targets': 0,
                        'data': "name",
                        'render': $.fn.dataTable.render.format_link()

                    },
                    {
                        'targets': 1,
                        'data': "size",
                        'render': $.fn.dataTable.render.format_link()
                    },
                    {
                        'targets': 2,
                        'data': "sample_name",
                        'render': $.fn.dataTable.render.format_link()
                    },
                    {
                        'targets': 3,
                        'data': "start_time",
                        'render': function (data, type, full, meta) {
                            return `<a href="/web/private/flowcells/${full["id"]}/">${moment(data).format('YYYY-MM-DD HH:mm')}</a>`;
                        }
                    },
                    {
                        'targets': 4,
                        'data': "number_reads",
                        'render': $.fn.dataTable.render.format_link()
                    },
                    {
                        'targets': 5,
                        'data': "number_reads_processed",
                        'render': $.fn.dataTable.render.format_link()
                    },
                    {
                        'targets': 6,
                        'data': "number_runs",
                        'render': $.fn.dataTable.render.format_link()
                    },
                    {
                        'targets': 7,
                        'data': "number_barcodes",
                        'render': $.fn.dataTable.render.format_link()
                    },
                    {
                        'targets': 8,
                        'data': "total_read_length",
                        render: function (data, type, row) {
                            {#console.log(typeof data);#}
                            console.log("read lenght");
                            // The below function returns the read length in a human readable format
                            if (type === "display" || type === "filter") {
                                {#var data = data;#}
                                var UNITS = ["", "k", "M", "G", "T", "P", "E", "Z"];
                                var factor = 1000;
                                var suffix = "b";
                                for (var i = 0; i < UNITS.length; i++) {
                                    if (Math.abs(data) < factor) {
                                        data = data.toFixed(2);
                                        if (/\.00$/.test(data)) {
                                            data = data.substr(0, data.length - 3);
                                        }
                                        return `<a href="/web/private/flowcells/${row["id"]}/">${`${data} ${UNITS[i]}${suffix}`}</a>`;
                                    }
                                    data /= factor;
                                }
                                data = data.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                if (/\.00$/.test(data))
                                    data = data.substr(0, data.length - 3);
                                return `<a href="/web/private/flowcells/${row["id"]}/">${`${data} Y${suffix}`}</a>`;
                            } else {
                                return data
                            }
                        }
                    },
                    {
                        'targets': 9,
                        'data': "average_read_length",
                        'render': $.fn.dataTable.render.format_link()
                    },
                    {
                        'targets': 10,
                        'data': "is_active",
                        'render': $.fn.dataTable.render.format_link()
                    },
                    {
                        'targets': 11,
                        'data': "has_fastq",
                        'render': $.fn.dataTable.render.format_link()
                    },
                    {
                        'targets': 12,
                        'data': "owner",
                        'render': $.fn.dataTable.render.format_link()
                    },
                    {
                        'targets': 13,
                        'data': "permission",
                        'render': $.fn.dataTable.render.format_link()
                    },
                ]
            });
            // When we've drawn the table, make the whole row clickable, links to it's flowcell
            table_all_runs.on("draw", function () {

                // create a fake element
                // add the rows HTML
                // Get the href from the Cell
                table_all_runs.on("click", "tbody tr", function () {
                    let el = $('<div></div>');
                    el.html($(this)[0].outerHTML);

                    window.location.href = $('a', el)[0].href
                });
            });


            set_active_navbar_item(0);

        })
        ;


    </script>
{% endblock %}
