{% extends "web/template_private.html" %}
{% load static %}

{% block content %}
    <div class="content-wrapper" style="background-color: white;">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>FlowCell - <span>{{ flowcells }}</span> (<span id='flowcell-id'>{{ flowcells.id }}</span>)</h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Main top nav bar -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a id="run-summary-data">Run Summary</a></li>
                    <li><a id='nav-live-data'>Live Event Data</a></li>
                    <li><a id='nav-basecalled-data'>Basecalled Data</a></li>
                    <li><a id='nav-seq-id'>Sequence Identification</a></li>
                    <li><a id='nav-seq-map'>Genome Mapping</a></li>
                    <li><a id='nav-seq-map-trans'>Transcriptome Mapping</a></li>
                    <li><a id='nav-tasks'>Tasks</a></li>
                </ul>
            </div>
            <!-- end of Main top nav bar -->

            <!-- Panel summary data -->
            <div id="panel-summary-data" class="row">
                <div class="col-md-12">
                    <div class='panel panel-info'>
                        <div class='panel-heading'>
                            <h3 class='panel-title'>minKNOW real time data</h3>
                        </div>
                        <div class='panel-body'>

                            <div id="target_for_data">Loading Flowcell Data.</div>
                            <i>Please note: <b>'Known Issue'</b> Fields for this table are only completely populated if MinKNOW has been monitored with mincontrol. If not, then many fields will be missing.</i>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-comments"></i> MinKNOW Messages
                            </h3>
                        </div>

                        <div id="Messages">
                            <div class="panel-body" style="max-height: 1;overflow-y: scroll;">
                                Fetching Messages
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active"
                                         role="progressbar"
                                         aria-valuenow="45" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End of Panel summary data -->

            <!-- Panel live data -->
            <div id='panel-live-data' class="row">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="panel-heading">We're going to estimate yield in bases
                            here.</h4>
                        <p style='text-align: center;'>If basecalling is occuring concurrently with the run and data
                            uploaded to
                            minoTour, the scaling from events to bases is dynamically
                            calculated. If
                            not, the scaling factor can be chosen in the drop down
                            box.</p>
                        <div class="col-md-2">
                            <p> Set sequencing speed: </p>
                            <select id="seqspeed">
                                <option selected="selected">450 b/s</option>
                                <option>250 b/s</option>
                                <option>70 b/s</option>
                            </select>
                        </div>
                        <div>
                            <div class="col-md-2">
                                <p>Estimated Current Yield (bases) <strong><span
                                        id="speedresult"></span></strong></p>
                            </div>
                            <div class="col-md-2">
                                <p>Estimated Average Read Length (bases) <strong><span
                                        id="averageresult"></span></strong></p>
                            </div>
                            <div class="col-md-2">
                                <p>Theoretical Predicted Yield at 24 hours (bases)
                                    <strong><span
                                            id="end24"></span></strong></p>
                            </div>
                            <div class="col-md-2">
                                <p> Theoretical Predicted Yield at 48 hours (bases)
                                    <strong><span
                                            id="end48"></span></strong></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="chart-yield" class="col-md-6 highcharts"
                         style="height:400px; display:block;">
                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Yield
                    </div>

                    <div id="poreshizzle" class="col-md-5 highcharts"
                         style="height:400px;display:block;">
                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Read Numbers
                    </div>
                </div>

                <div class="row">
                    <div id="live-histogram" class="col-md-12 highcharts-container"
                         style="width:100%; height:400px;display:block;">
                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Read Numbers
                    </div>
                </div>

                <div class="row">
                    <div id="yield-projection" class="col-md-12 highcharts-container"
                         style="width:100%; height:400px;display:block;">
                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Yield
                        Projections
                    </div>
                </div>

                <div class="row">
                    <div id="live-strand" class="col-md-6 highcharts"
                         style="width:50%; height:400px;display:block;">
                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Strand
                    </div>

                    <div id="live-occupancy" class="col-md-6 highcharts"
                         style="width:50%; height:400px;display:block;">
                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Occupancy
                    </div>
                </div>

                <div class="row">
                    <div id="live-porestate" class="col-md-6 highcharts"
                         style="width:50%; height:400px;display:block;">
                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Yield
                        Projections
                    </div>

                    <div id="live-currentratio" class="col-md-6 highcharts"
                         style="width:50%; height:400px;display:block;">
                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Yield
                        Projections
                    </div>
                </div>

                <div class="row">
                    <div id="live-temperature" class="col-md-6 highcharts"
                         style="width:50%; height:400px;">
                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Yield
                        Projections
                    </div>

                    <div id="live-voltage" class="col-md-6 highcharts"
                         style="width:50%; height:400px;">
                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Yield
                        Projections
                    </div>
                </div>
            </div><!-- End of Panel live data -->

            <!-- Panel basecalled data -->
            <div id='panel-basecalled-data' class="row">

                <div class="col-md-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" id="nav-tabs-barcodes"></ul>
                    </div>
                </div>
                
                <div id="reads-called" class="col-md-6 highcharts-container"
                     style="width:25%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i> Calculating
                    Read Numbers
                </div>

                <div id="yield" class="col-md-6 highcharts-container"
                     style="width:25%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i> Calculating
                    Read Numbers
                </div>

                <div id="average-read-length"
                     class="col-md-6 highcharts-container"
                     style="width:25%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i> Calculating
                    Read Numbers
                </div>

                <div id="maximum-read-length"
                     class="col-md-6 highcharts-container"
                     style="width:25%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i> Calculating
                    Read Numbers
                </div>

                <div id="cumulative-yield-overtime-new"
                     class="col-md-12 highcharts-container"
                     style="width:100%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                    Calculating
                </div>

                <div id="cumulative-number-reads-overtime-new"
                     class="col-md-12 highcharts-container"
                     style="width:100%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                    Calculating
                </div>

                <div id="histogram-read-lengths"
                     class="col-md-12 highcharts-container"
                     style="width:100%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                    Calculating histogram of read lengths
                </div>

                <div id="histogram-bases-sequenced-by-read-length"
                     class="col-md-12 highcharts-container"
                     style="width:100%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                    Calculating bases sequenced by read length

                </div>
                <!--
                <div id="average-quality-overtime"
                     class="col-md-12 highcharts-container"
                     style="width:100%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i> Calculating
                </div>
                -->
                <div id="average-quality-overtime-new"
                     class="col-md-12 highcharts-container"
                     style="width:100%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i> Calculating
                </div>

                <!--
                <div id="average-read-lengths-overtime"
                     class="col-md-12 highcharts-container"
                     style="width:100%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i> Calculating
                </div>
                -->
                <div id="average-read-lengths-overtime-new"
                     class="col-md-12 highcharts-container"
                     style="width:100%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Average Read Lengths Over Time
                </div>

                <!--
                <div id="sequencing-rate"
                     class="col-md-12 highcharts-container"
                     style="width:100%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                    Calculating
                </div>

                <div id="sequencing-speed"
                     class="col-md-12 highcharts-container"
                     style="width:100%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                    Calculating
                </div>
                -->
                <div id="sequencing-rate-new"
                     class="col-md-12 highcharts-container"
                     style="width:100%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                    Calculating
                </div>

                <div id="sequencing-speed-new"
                     class="col-md-12 highcharts-container"
                     style="width:100%; height:400px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                    Calculating
                </div>

                <div id="reads-per-pore"
                     class="col-md-12"
                     style="height:600px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                    Calculating reads per pore
                </div>

                <div id="bases-per-pore"
                     class="col-md-12"
                     style="height:600px;">
                    <i class="fa fa-cog fa-spin fa-3x"></i>
                    Calculating reads per pore
                </div>

            </div>
            <!-- End of Panel basecalled data -->

            <!-- Panel sequence identification -->
            <div id="panel-seq-id" class="row">
                <div class="row">
                <div class="col-md-12">
                    Sequence Identification Content
                    <div id="read_type_select"><select id="krakenSelectRead"></select></div>
                    <div id="barcode_type_select"><select id="krakenSelectBarcode"></select></div>
                    <div id="range_select"><input id="lowerboundselect" type="range" min="0" max="10"></input></div>
                    <div id="kraken_barcode_select"></div>
                </div>
                    </div>

                <div class="row">
                    <div id="kraken-sankey"
                         class="col-md-12 highcharts"
                         style="width:100%; height:800px;">
                        <i class="fa fa-cog fa-spin fa-3x"></i>
                        Select a read type or barcode to generate a plot.
                    </div>
                </div>
            </div>
            <!-- End of Panel sequence identification -->

            <!-- Panel sequence mapping -->
            <div id="panel-seq-map" class="row">
                <div class="row">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Chromosome</label>

                                <div class="col-sm-10 control-label" style="height: 100%; text-align: left;">
                                    <select id="chromosome-id-select"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <span id="chromosome-coverage-left">left</span>
                    <span id="chromosome-coverage-right">right</span>

                <div class="row">
                    <div id="chromosome-coverage"
                         class="col-md-12 highcharts"
                         style="width:100%; height:400px;">
                        <i class="fa fa-cog fa-spin fa-3x"></i>
                        Calculating
                    </div>
                </div>
                <div class="row">
                    <div id="per-chrom-cov"
                         class="col-md-12 highcharts"
                         style="width:100%; height:400px;">
                        <i class="fa fa-cog fa-spin fa-3x"></i>
                        Calculating
                    </div>
                </div>

                <div class="row">
                    <div id="per-chrom-avg"
                         class="col-md-12 highcharts"
                         style="width:100%; height:400px;">
                        <i class="fa fa-cog fa-spin fa-3x"></i>
                        Calculating
                    </div>
                </div>



                <span id="mapping-data"></span>
            </div>
            <!-- End of Panel sequence mapping -->

            <!-- Panel transcriptome mapping -->
            <div id="panel-trans-map" class="row">
                Transcriptome Mapping Content
                <div class="row">
                    <div id="xy_scat_len" class="col-md-12 highcharts" style="width:100%; height:400px;">
                        <i class="fa fa-cog fa-spin fa-3x"></i>
                        Calculating.
                    </div>
                </div>
                <div class="row">
                    <div id="trans_top100" class="col-md-12 highcharts" style="width:100%; height:400px;">
                        <i class="fa fa-cog fa-spin fa-3x"></i>
                        Calculating.
                    </div>
                </div>
            </div>

            <!-- Panel tasks -->
            <div id="panel-tasks" class="row">
                <h2 class="panel-heading">Run analysis tasks on reads.</h2>
                <span id="tasks"></span>
            </div>
            <!-- End of Panel tasks -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}
{% block javascript %}
{#    <script src="{% static 'web/minotour.js' %}?{% now 'c' %}"></script>#}
    <script>
        $(document).ready(function () {
            var app = new MinotourFlowCellApp();
            console.log("minotour flow cell app runing");
            app.init();

    });
    </script>
{% endblock %}
