{% extends "web/template_private.html" %}
{% load static %}
{% load humanize %}

{% block content %}

    <div style="background-color: white">
        <!-- Main content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success text-center" role="alert">
                            Thanks. The splitting process has started.
                            Links for the origin and destination flowcells are below.
                            This process can take some time to finish, in particular with large flowcells.
                        </div>

                        <div class='card card-primary card-outline'>
                            <div class='card-header'>
                                <h5>
                                    Origin
                                <i class="fas fa-arrow-right"></i>
                                </h5>
                            </div>
                            <div class='card-body'>
                                <h6>Run: {{ run.runid }} moved from Flowcell: <a
                                    href="{% url 'flowcell-index' from_flowcell.id %}">{{ from_flowcell.name }}
                                ({{ from_flowcell.sample_name }})</a></h6>
                            </div>
                        </div>

                        <div class='card card-primary card-outline'>
                            <div class='card-header'>
                                <h5>
                                    Destination
                                <i class="fas fa-arrow-left"></i>
                                </h5>
                            </div>
                            <div class='card-body'>
                                <h6>Run: {{ run.runid }} moved to Flowcell: <a href="{% url 'flowcell-index' to_flowcell.id %}">{{ to_flowcell.name }}
                                ({{ to_flowcell.sample_name }})</a></h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>

        $(document).ready(function () {

            setActiveNavbarItem(3);

        });
    </script>
{% endblock %}
