{% extends "web/template_private.html" %}
{% load static %}

{% block content %}
    <div style="background-color: white">

        <!-- Main content -->
        <section class="content">
            <!-- Main top nav bar -->
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <h5 class="card-header"><i class="fas fa-table"></i>
                        Flowcell Splitting Management <small> - select a Flowcell to split.</small>
                    </h5>
                    <div class="card-body">
                        <div id="messages"></div>

                        <table id="splitting-all-flowcells" class="table table-bordered table-striped table-hover"
                               style="width:100%"
                               cellspacing="0">
                                <thead>
                            <tr>
                                <th>Flowcell<br/>Name</th>
                                <th>Flowcell<br/>Size</th>
                                <th>Sample<br/>Name</th>
                                <th>Start<br/>Time (UTC)</th>
                                <th>Read<br/> Count</th>
                                <th>Runs</th>
                                <th>Barcodes</th>
                                <th>Yield</th>
                                <th>Avg.<br/>Read Length</th>
                                <th>Is Active</th>
                                <th>Archived</th>
                                <th>Is<br/>Uploader</th>
                                <th>Permission<br/>Level</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Flowcell<br/>Name</th>
                                <th>Flowcell<br/>Size</th>
                                <th>Sample<br/>Name</th>
                                <th>Start<br/>Time (UTC)</th>
                                <th>Number<br/>of Reads</th>
                                <th>Runs</th>
                                <th>Barcodes</th>
                                <th>Yield</th>
                                <th>Avg.<br/>Read Length</th>
                                <th>Is Active</th>
                                <th>Archived</th>
                                <th>Is<br/> Uploader</th>
                                <th>Permission<br/>Level</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}

{% block javascript %}
    <script>
        const flowcellTableController = new FlowcellTableController("flowcell_manager", "splitting-all-flowcells");
        flowcellTableController.renderTable();
        setActiveNavbarItem(4);
    </script>
{% endblock %}
