{% extends "web/template_private.html" %}
{% load static %}

{% block content %}
    <div class="content-wrapper" style="background-color: white;">

        <section class="content-header">
            <h1>FlowCell - <span>{{ flowcells }}</span> (<span>{{ flowcells.id }}</span>)</h1>
        </section>

        <form>
            <input id="flowcell-id" type="text" value="{{ flowcells.id }}" style="visibility: hidden;"/>
        </form>

        <section class="content">

            <div class="nav-tabs-custom" id="maintabbar">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-summary-data" data-toggle="tab">Run Summary</a></li>
                    <li id="tasks-li"><a href="#tab-tasks" data-toggle="tab">Tasks</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="tab-summary-data">
                    {% include "web/flowcell/summary-tab.html" %}
                </div>

                <div id="tab-live-event-data" class="tab-pane fade">
                    {% include "web/flowcell/live-tab.html" %}
                </div>

                <div id="tab-basecalled-data" class="tab-pane fade">
                    {% include "web/flowcell/basecalled-tab.html" %}
                </div>

                <div id="tab-sequence-id" class="tab-pane fade">
                    {% include "web/flowcell/sequence-tab.html" %}
                </div>

                <div id="tab-sequence-mapping" class="tab-pane fade">
                    {% include "web/flowcell/mapping-tab.html" %}
                </div>

                <div id="tab-sequence-assembly" class="tab-pane fade">
                    {% include "web/flowcell/assembly-tab.html" %}
                </div>

                <div id="tab-transcriptome-mapping" class="tab-pane fade">
                    {% include "web/flowcell/transcriptome-tab.html" %}
                </div>

                <div id="tab-tasks" class="tab-pane fade">
                    {% include "web/flowcell/tasks-tab.html" %}
                </div>

                <div id="tab-export-reads" class="tab-pane fade">
                    {% include "web/flowcell/export-tab.html" %}
                </div>

                <div id="tab-runs" class="tab-pane fade">
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="eastermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Congrats! You have hit a million base pair
                                read!</h4>
                        </div>
                        <div class="modal-body">
                            <h3>Welcome to the #1MbReadClub. If this is your first time - nice job....</h3>
                            <!---<p><iframe src="https://giphy.com/embed/ZFGtOflRCro88" width="480" height="198" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>-->
                            <h4>Just remember though... length is vanity - mapping is sanity!</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            checkTabs();
            var app = FlowcellPageApp;
            window.app = app;

            console.log("minotour flow cell app runing");
            app.init();


            redraw();
            setInterval(redraw, 3000);

            function redraw() {
                for (var chart in Highcharts.charts) {
                    //console.log('calling redraw');
                    Highcharts.charts[chart].reflow();
                    //console.log(chart);
                }
            }


            $("#maintabbar").on("click", "li", function (event) {
                setTimeout(redraw(), 1000);
                //console.log('testing');
            });

            setInterval(checkTabs, 10000);


            function checkTabs() {
                var run_id = {{ flowcells.id }};
                var url = "/api/v1/flowcells/tabs/" + run_id;
                $.getJSON(url, function (data) {
                    var items = [];
                    $.each(data, function (key, value) {
                        items.push(value);
                    });
                    items.sort(function (a, b) {
                        return a.position - b.position;
                    });
                    $.each(items, function (key, value) {
                        /**
                         if( $(element).length ) returns true when the element is present
                         if( !$(element).length ) returns true when the element is not present
                         This is used to prevent duplicate tabs being produced whenever a check is done for new tabs
                         **/

                        if (!$('#nav-' + value.id).length) {
                            var element = '<li><a href="#' + value.id + '"id="nav-' + value.id + '" data-toggle="tab">' + value.title + '</a></li>';
                            $('#tasks-li').before(element);
                        }
                    });
                });
            };

        });
    </script>
{% endblock %}
