{% extends "web/template_private.html" %}
{% load static %}

{% block content %}
    <!--Flowcell-index.html-->
    <div style="background-color: white; flex: 1 0 auto;">
        <section>
            <div class="container-fluid">
                <h5 class="mt-4 mb-2">Flowcell name: <strong id="name-flowcell">{{ flowcell.name }}</strong> Sample
                    name:
                    <strong>{{ flowcell.sample_name }}</strong></h5>
                <div class="row">
                    <div class="col-12">
                        <!-- Custom Tabs -->
                        <div class="card card-info">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li role="presentation" class="nav-item hidden flowcell-tab-ctl"
                                        id="nav-summary-data">
                                        <a class="nav-link flowcell-tab"
                                           onclick="flowcellController.flowcell_tab_controller.toggleTabContent('summary-data')">Summary</a>
                                    </li>
                                    <li role="presentation" class="nav-item hidden flowcell-tab-ctl"
                                        id="nav-live-event-data">
                                        <a class="nav-link flowcell-tab"
                                           onclick="flowcellController.flowcell_tab_controller.toggleTabContent('live-event-data')">Live
                                            Event Data</a>
                                    </li>
                                    <li role="presentation" class="nav-item hidden flowcell-tab-ctl"
                                        id="nav-basecalled-data">
                                        <a class="nav-link flowcell-tab"
                                           onclick="flowcellController.flowcell_tab_controller.toggleTabContent('basecalled-data')">Basecalled
                                            Data</a>
                                    </li>
                                    <li role="presentation" class="nav-item hidden flowcell-tab-ctl" id="nav-reads">
                                        <a class="nav-link flowcell-tab"
                                           onclick="flowcellController.flowcell_tab_controller.toggleTabContent('reads')">Read
                                            Data</a>
                                    </li>
                                    <li role="presentation" class="nav-item hidden flowcell-tab-ctl"
                                        id="nav-sequence-mapping">
                                        <a class="nav-link flowcell-tab"
                                           onclick="flowcellController.flowcell_tab_controller.toggleTabContent('sequence-mapping')">Sequence
                                            Mapping</a>
                                    </li>
                                    <li role="presentation" class="nav-item hidden flowcell-tab-ctl"
                                        id="nav-advanced-sequence-mapping">
                                        <a class="nav-link flowcell-tab"
                                           onclick="flowcellController.flowcell_tab_controller.toggleTabContent('advanced-sequence-mapping')">Advanced
                                            Sequence Mapping</a>
                                    </li>
                                    <li role="presentation" class="nav-item hidden flowcell-tab-ctl"
                                        id="nav-sequence-assembly">
                                        <a class="nav-link flowcell-tab"
                                           onclick="flowcellController.flowcell_tab_controller.toggleTabContent('sequence-assembly')">Assembly</a>
                                    </li>
                                    <li role="presentation" class="nav-item hidden flowcell-tab-ctl"
                                        id="nav-metagenomics">
                                        <a class="nav-link flowcell-tab"
                                           onclick="flowcellController.flowcell_tab_controller.toggleTabContent('metagenomics')">Metagenomics</a>
                                    </li>
                                    <li role="presentation" class="nav-item hidden flowcell-tab-ctl" id="nav-tasks">
                                        <a class="nav-link flowcell-tab"
                                           onclick="flowcellController.flowcell_tab_controller.toggleTabContent('tasks')">Tasks</a>
                                    </li>
                                    <li role="presentation" class="nav-item hidden flowcell-tab-ctl" id="nav-sharing">
                                        <a class="nav-link flowcell-tab"
                                           onclick="flowcellController.flowcell_tab_controller.toggleTabContent('sharing')">Sharing</a>
                                    </li>
                                    <li role="presentation" class="nav-item hidden flowcell-tab-ctl"
                                        id="nav-notifications">
                                        <a class="nav-link flowcell-tab"
                                           onclick="flowcellController.flowcell_tab_controller.toggleTabContent('notifications')">Notifications</a>
                                    </li>
                                    <li role="presentation" class="nav-item hidden flowcell-tab-ctl" id="nav-artic">
                                        <a class="nav-link flowcell-tab"
                                           onclick="flowcellController.flowcell_tab_controller.toggleTabContent('artic')">Artic
                                            Pipeline</a>
                                    </li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div id="tab-summary-data" class="tab-pane flowcell-tab-ctl">
                                        {% include "web/flowcell/summary-tab.html" %}
                                    </div>
                                    <div id="tab-live-event-data" class="tab-pane flowcell-tab-ctl">
                                        {% include "web/flowcell/live-tab.html" %}
                                    </div>
                                    <div id="tab-reads" class="tab-pane flowcell-tab-ctl">
                                        {% include "web/flowcell/tab-reads.html" %}
                                    </div>
                                    <div id="tab-basecalled-data" class="tab-pane flowcell-tab-ctl">
                                        {% include "web/flowcell/basecalled-tab.html" %}
                                    </div>
                                    <div id="tab-sequence-mapping" class="tab-pane flowcell-tab-ctl">
                                        {% include "web/flowcell/mapping-tab.html" %}
                                    </div>
                                    <div id="tab-advanced-sequence-mapping" class="tab-pane flowcell-tab-ctl">
                                        {% include "web/flowcell/advanced-mapping-tab.html" %}
                                    </div>
                                    <div id="tab-sequence-assembly" class="tab-pane flowcell-tab-ctl">
                                        {% include "web/flowcell/assembly-tab.html" %}
                                    </div>
                                    <div id="tab-tasks" class="tab-pane flowcell-tab-ctl">
                                        {% include "web/flowcell/tasks-tab.html" %}
                                    </div>
                                    <div id="tab-metagenomics" class="tab-pane flowcell-tab-ctl">
                                        {% include "web/flowcell/metagenomics.html" %}
                                    </div>
                                    <div id="tab-sharing" class="tab-pane flowcell-tab-ctl">
                                        {% include "web/flowcell/sharing.html" %}
                                    </div>
                                    <div id="tab-notifications" class="tab-pane flowcell-tab-ctl">
                                        {% include "web/flowcell/notification-manager.html" %}
                                    </div>
                                    <div id="tab-artic" class="tab-pane flowcell-tab-ctl">
                                        {% include "web/flowcell/artic.html" %}
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- ./card -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </section>
        <div class="content">
            <div class="container-fluid">
                <!-- Modal -->
                <div class="modal fade" id="eastermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Congrats! You have hit a million base pair
                                    read!</h4>
                            </div>
                            <div class="modal-body">
                                <h3>Welcome to the #1MbReadClub. If this is your first time - nice job....</h3>
                                <!---<p><iframe src="https://giphy.com/embed/ZFGtOflRCro88" width="480" height="198" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>-->
                                <h4>Just remember though... length is vanity - mapping is sanity!</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}

{% block javascript %}
    <script>
        const flowcellId = {{ flowcell.id }}
        setSelectedFlowcell({{ flowcell.id }})
        const app = FlowcellPageApp;
        app.init();
        const mTaskController = new MTaskController(flowcellId);
        const mSharingController = new MSharingController(flowcellId);
        const flowcellController = new FlowcellController(flowcellId);
    </script>
{% endblock %}
