{% extends "web/template_private.html" %}
{% load static %}

{% block content %}
    <div class="content-wrapper" style="background-color: white">

        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Main top nav bar -->
            <div class="container-fluid">
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Flowcells <small> - select a Flowcell for more information.</small></h3>
                    </div>
                    <div class="card-body">
                        <div id="messages"></div>

                        <table id="all-flowcells" class="table table-bordered table-striped dataTable dtr-inline" style="width:100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th>Flowcell<br/>Name</th>
                                <th>Flowcell<br/>Size</th>
                                <th>Sample<br/>Name</th>
                                <th>Start<br/>Time</th>
                                <th>Number<br/>of Reads</th>
                                <th>Number<br/>of Reads Processed</th>
                                <th>Number<br/>of Runs</th>
                                <th>Number<br/>of Barcodes</th>
                                <th>Yield</th>
                                <th>Average<br/>Read Length</th>
                                <th>Status</th>
                                <th>Contains<br/>sequence data</th>
                                <th>Is Owner</th>
                                <th>Permission</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}

{% block javascript %}
    <script>
        const flowcellTableController = new FlowcellTableController("flowcells", "all-flowcells");
        flowcellTableController.renderTable();
        set_active_navbar_item(0);
    </script>
{% endblock %}
