{% extends "web/template_private.html" %}

{% block content %}
    <div class="content-wrapper" style="background-color: white">

        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="card">
                    <h2 class="card-header">Help</h2>
                    <div class="card-body">
                        <h3 class="card-title">Links</h3>
                        <p class="card-text">We will shortly provide a series of tutorial videos that will help users work with minoTour.<br>
                            These will be hosted on YouTube and so if your local version of minoTour is run offline, you will need to look for the links there.</p>

                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}

{% block javascript %}

    <script>
        setActiveNavbarItem(6);
    </script>
{% endblock %}
