{% extends "web/template_private.html" %}

{% block content %}
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <span>Help</span>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Links</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <p>We will shortly provide a series of tutorial videos that will help users work with minoTour. These will be hosted on YouTube and so if you local version of minoTour cannot see the outside world, you will need to look for the links here.</p>

                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}

{% block javascript %}

    <script>
        const topPadding = $(".main-header").height() + 16;
        $(".content-wrapper").css("padding-top", `${topPadding}px`);
        set_active_navbar_item(6);
    </script>
{% endblock %}
