{% extends "web/template_private.html" %}
{% load static %}

{% block content %}
    <div class="content-wrapper" style="background-color: white">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>User Messages <small> - List of messages received for the current user </small></h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Main top nav bar -->

            <div id="messages"></div>

            <div class="message-body">
                <!--<table id="all-messages" class="user messages received" style="width:100%"
                       cellspacing="0">-->
                <table id="message-table" class="table table-bordered table-striped table-hover" style="width:100%"
                       cellspacing="0">
                    <thead>
                    <tr>

                        <th>Message<br/>Title</th>
                        <th>Message<br/>Date</th>
                        <th>Message<br/>Sender</th>
                        <th>Flowcell</th>

                    </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        //    document.getElementById("btn-copy-token").addEventListener("click", function() {
        //      copyToClipboardMsg(document.getElementById("token"), "msg");
        // });
        const messageController = new MessageController();

        messageController.drawMessageTable();
        const topPadding = $(".main-header").height() + 16;
        $(".content-wrapper").css("padding-top", `${topPadding}px`);
        set_active_navbar_item(4);
    </script>
{% endblock %}
