{% extends "web/template_private.html" %}
{% load static %}

{% block content %}
    <div class="" style="background-color: white">

        <!-- Main Messages content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <h5 class="card-header">User Messages - List of messages received for the current user </h5>
                    <div class="card-body">
                        <div id="messages"></div>

                        <div class="message-body">
                            <table id="message-table" class="table table-bordered table-striped table-hover"
                                   style="width:100%"
                                   cellspacing="0">
                                <thead>
                                <tr>

                                    <th>Message<br/>Title</th>
                                    <th>Message<br/>Date</th>
                                    <th>Message<br/>Sender</th>
                                    <th>Flowcell</th>

                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        const messageController = new MessageController();
        // TODO rewrite message controller
        messageController.drawMessageTable();
        setActiveNavbarItem(3);
    </script>
{% endblock %}
