{% extends "web/template_private.html" %}

{% block content %}
    <div class="content-wrapper" style="background-color: white">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <h5 class="card-header">minFQ - How to upload data to minoTour.</h5>
                    <div class="card-body">
                        <h4>Installing minFQ</h4>
                        <p>minFQ is available from pypi for python3. <strong>Installation in a python3 environment is simple:</strong></p>
                        <code>python3 -m venv /path/to/your/environment<br>
                            source /path/to/your/environment/bin/activate<br>
                            pip install minFQ</code>
                        <p></p>
                        <p>The source code for minFQ is available from <a
                                href='https://github.com/LooseLab/minotourcli'>https://github.com/LooseLab/minotourcli</a>
                        </p>
                        <p>Please note that communication between minoTour and MinKNOW is mediated through the official Oxford nanopore technologies
                            MinKNOW
                            API, however users use minFQ at their own risk.</p>
                        <h4>Using minFQ</h4>
                        <p>The main command, minFQ provides two means of uploading run data to minoTour. minFQ can
                            monitor
                            both fastq data in nanopore fastq read files and can DIRECTLY monitor MinKNOW
                            itself. </p>
                        <p>To use minFQ you require an access token obtained from your own account on a minoTour server.
                            The
                            token can be found under your user name in the 'profile' section.</p>
                        <p>After installation test minFQ by typing:</p>
                        <code>minFQ</code>
                        <p></p>
                        <p>This will output a basic usage message:</p>
                        <pre>usage: minFQ [-h] -w WATCHDIR [-ip IP] [-v] [-nf] [-nm] -n RUN_NAME [-f] [-e]
             -k API_KEY [-p PORT_NUMBER] [-hn HOST_NAME]
             [-tc TREATMENT_CONTROL] [-s] [-g]
             [-ll {DEBUG,INFO,WARNING,ERROR,CRITICAL}]
minFQ: error: the following arguments are required: -w/--watch-dir, -n/--name, -k/--key</pre>
                        <p>To see the full help type:</p>
                        <code>minFQ -h</code>
                        <p></p>
                        <h4>Example Commands</h4>
                        <p> In the command below the port for your server will vary depending on how you run minoTour,
                            but if run locally is probably 8100. -ip is the ip address at which minKNOW is hosted. Most likely 127.0.0.1.</p>
                        <h5>To monitor both live and fastq data.</h5>
                        <code>minFQ -k [your_user_key] -w /path/to/your/fastq/files -ip 127.0.0.1 -hn
{{ server_url }} -p [port_for_your_server]</code>
                        <br>
                        <h5>To monitor just live data from minKNOW.</h5>
                        <code>minFQ -k [your_user_key] -ip 127.0.0.1 -hn {{ server_url }} -p
                            [port_for_your_server] -nf</code>
                        <p></p>
                        <h5>To monitor live data and enable limited remote control of minKNOW.</h5>
                        <code>minFQ -k [your_user_key] -ip 127.0.0.1 -hn {{ server_url }} -p
                            [port_for_your_server] -nf -rc</code>
                        <p></p>
                        <h5>To monitor just fastq data.</h5>
                        <code>minFQ -k [your_user_key] -w /path/to/your/fastq/files -hn {{ server_url }} -p
                            [port_for_your_server] -nm</code>
                        <p></p>
                        <h5>To monitor fastq statistics only. (Note you will not be able to run subsequent analysis on
                            the
                            server which requires sequence data).</h5>
                        <code>minFQ -k [your_user_key] -w /path/to/your/fastq/files -hn {{ server_url }} -p
                            [port_for_your_server_-_eg_80] -nm -s</code>
                        <p></p>
                        <h5>To start an analysis remotely whilst uploading data. Note reference Id may not be required.</h5>
                        <code>minFQ -k [your_user_key] -w /path/to/your/fastq/files -hn {{ server_url }}
                            -p [port_for_your_server] -nm -j [job_id] -r [reference_id]</code>
                        <p></p>
                        <p>In order to see what jobs, references and target sets are available you can run the --list flag</p>
                        <code>minFQ -k [your_user_key] -w /path/to/your/fastq/files -hn {{ server_url }}
                            -p [port_for_your_server] -nm --list</code>
                        <h4>minFQ Gui</h4>
                        <p>We are in the process of rebuilding the minFQ gui. Watch this space.</p>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}
{% block javascript %}
    <script>
        setActiveNavbarItem(2);
    </script>
{% endblock %}
