{% extends "web/template_private.html" %}

{% block content %}
    <div class="content-wrapper" style="background-color: white">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <span>minFQ Scripts<small> - uploading data to minoTour.</small></span>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header">
                    <h2 class="box-title">Getting Hold Of minFQ</h2>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <h4>Installing minFQ</u></h4>
                    <p>minFQ is available as a python 3 package from pypi. Assuming you are using python3, installation is as simple as:</p>
                    <code>pip install minFQ</code>
                    <p>If you have both python2 and 3 installed you may need to use:</p>
                    <code>pip3 install minFQ</code>
                    <p>We recommend installing minFQ in its own environment:</p>
                    <code>python3 -m venv /path/to/your/environment<br>
                    source /path/to/your/environment/bin/activate<br>
                    pip install minFQ</code>
                    <p>The source code for minFQ is available at <a href='https://github.com/LooseLab/minotourcli'>https://github.com/LooseLab/minotourcli</a></p>

                    <h4>Using minFQ</h4>

                    <p>minFQ provides two means of uploading run data to minoTour. minFQ can monitor both the fastq data in nanopore read files and DIRECTLY monitors MinKNOW itself. </p>

                    <p>To use minFQ you require an access token obtained from your own account on a minoTour server. The token can be found under your user name in the top right hand corner of the screen in the 'profile' section.</p>

                    <p>To test minFQ type:</p>

                    <code>minFQ</code>

                    <p>This will output a basic usage message:</p>

                    <pre>usage: minFQ [-h] -w WATCHDIR -ip IP [-v] [-nf] [-nm] -n RUN_NAME [-f] -k
             API_KEY [-p PORT_NUMBER] [-hn HOST_NAME] [-c CUST_BARC] [-s] [-g]
minFQ: error: the following arguments are required: -w/--watch-dir, -ip/--ip-address, -n/--name, -k/--key</pre>

                    <p>To see the full help type:</p>

                    <code>minFQ -h</code>

                    <p>which will give:</p>

                    <pre>usage: minFQ [-h] -w WATCHDIR -ip IP [-v] [-nf] [-nm] -n RUN_NAME [-f] -k
             API_KEY [-p PORT_NUMBER] [-hn HOST_NAME] [-c CUST_BARC] [-s] [-g]

minFQ: A program to analyse minION fastq files in real-time or post-run and
monitor the activity of MinKNOW. Args that start with '--' (eg. -w) can also
be set in a config file (/Users/mattloose/minfq_posix.config). Config file
syntax allows: key=value, flag=true, stuff=[a,b,c] (for details, see syntax at
https://goo.gl/R74nmi). If an arg is specified in more than one place, then
commandline values override config file values which override defaults.

optional arguments:
  -h, --help            show this help message and exit
  -w WATCHDIR, --watch-dir WATCHDIR
                        The path to the folder containing the downloads
                        directory with fast5 reads to analyse - e.g.
                        C:\data\minion\downloads (for windows).
  -ip IP, --ip-address IP
                        The IP address of the minKNOW machine.
  -v, --verbose         Display debugging information.
  -nf, --no_fastq       Run minFQ without monitoring fastq files.
  -nm, --no_minKNOW     Run minFQ without monitoring minKNOW for live
                        activity.
  -n RUN_NAME, --name RUN_NAME
                        The run name you wish to provide.
  -f, --is_flowcell     If you add this flag, all runs added here will be
                        considered as a single flow cell with the name set by
                        the name flag.
  -k API_KEY, --key API_KEY
                        The api key for uploading data.
  -p PORT_NUMBER, --port PORT_NUMBER
                        The port number for the local server.
  -hn HOST_NAME, --hostname HOST_NAME
                        The run name you wish to provide.
  -c CUST_BARC, --custom_barcode CUST_BARC
                        Optionally split reads based on odd/even channel
                        description. Not a standard option.
  -s, --skip_sequence   If selected only read metrics, not sequence, will be
                        uploaded to the databse.
  -g, --gui             configure the code for GUI use.</pre>

                    <h4>Example Commands</h4>
                    <p>To monitor both live and fastq data.</p>
                    <code>minFQ -k [your_user_key] -w /path/to/your/fastq/files -ip 127.0.0.1 -hn minotour.nottingham.ac.uk -p 80 </code>
                    <p>To monitor just live data from minKNOW. (Note that a current bug requires a path to read files even when running in no fastq mode.)</p>
                    <code>minFQ -k [your_user_key] -w /path/to/your/fastq/files -ip 127.0.0.1 -hn minotour.nottingham.ac.uk -p 80 -nf</code>

                    <p>To monitor just fastq data.</p>
                    <code>minFQ -k [your_user_key] -w /path/to/your/fastq/files -ip 127.0.0.1 -hn minotour.nottingham.ac.uk -p 80 -nm</code>
                    <p>To monitor fastq statistics only. (Note you will not be able to run subsequent analysis on the server which requires sequence data).</p>
                    <code>minFQ -k [your_user_key] -w /path/to/your/fastq/files -ip 127.0.0.1 -hn minotour.nottingham.ac.uk -p 80 -nm -s</code>


                    <h4>minFQ Gui</h4>
                    <p>We are in the process of rebuilding the minFQ gui.</p>


                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}