{% extends "web/template_private.html" %}

{% block content %}
    <div class="content-wrapper" style="background-color: white">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>About</h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h2 class="box-title">Welcome to minoTour - a real time analysis platform for minION reads.</h2>
                </div>
                <div class="box-body">
                    <div id="notice">minoTour is a platform in development. It is realeased as an 0.x version and may
                        contain <strong>errors</strong> and <strong>bugs</strong>.<br><br>A rudimentary bug reporting
                        system is included within this application. Please make full use of it.<br><br>In order for bugs
                        and feature requests to be reported we are collecting information from you. The version checks
                        above request information from our central website as to the current version of the tools to
                        notify you if we have made a new release available.<br><br>Alongside this error reporting, we
                        intend to collect usage statistics from you. Every time a new dataset is uploaded into minoTour
                        we will log the username on our own servers along with the date and time. This will allow us to
                        collect usage statistics to support the development of these tools.<br><br>We will
                        <strong>not</strong> store any other information about your run, your run data or any of your
                        personal information.
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}