{% extends "web/template_private.html" %}

{% block content %}
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->

        <section class="content-header">
            <h1>
                Welcome to minoTour
                <small> - a real time analysis platform for minION reads.</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Overview</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Overview</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div id="app">
                        <ul>
                            <minionrun-item
                                v-for="item in minionruns"
                                v-bind:minionrun="item"
                                v-bind:key="item.id">

                            </minionrun-item>
                        </ul>
                    </div>
                    <div id="div-user-runs"></div>
                    <h2>Important Notice:</h2>

                    <div id="notice">minoTour is a platform in development. It is realeased as an 0.x version and may
                        contain <strong>errors</strong> and <strong>bugs</strong>.<br><br>A rudimentary bug reporting
                        system is included within this application. Please make full use of it.<br><br>In order for bugs
                        and feature requests to be reported we are collecting information from you. The version checks
                        above request information from our central website as to the current version of the tools to
                        notify you if we have made a new release available.<br><br>Alongside this error reporting, we
                        intend to collect usage statistics from you. Every time a new dataset is uploaded into minoTour
                        we will log the username on our own servers along with the date and time. This will allow us to
                        collect usage statistics to support the development of these tools.<br><br>We will
                        <strong>not</strong> store any other information about your run, your run data or any of your
                        personal information.
                    </div>
                </div>
            </div>


            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">News</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div id="newstarget">To get news messages your installation of minoTour must be on a server which
                        can connect to the outside world.<br></div>
                </div>
            </div>


        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->


    <script>
        console.log('before vue');

        Vue.component('minionrun-item', {
            delimiters: ['${', '}'],
            props: ['minionrun'],
            template: "<li><a v-bind:href='\"/web/private/runs/\" + minionrun.id'>${ minionrun.run_name }</a></li>"
        });

        var app = new Vue({
            delimiters: ['${', '}'],
            el: "#app",
            data: {
                minionruns: [],
            },
            created: function () {
                var promise = this.$http.get('/api/v1/runs/');
                promise
                    .then(res => res.json())
                    .then(minionruns => this.minionruns = minionruns);
                console.log('inside created.')
            }
        });

        console.log('after vue');

        $(document).ready(function () {
            check_minotour_version();
            //check_user_runs();

        });


    </script>


{% endblock %}