{% extends "web/template_private.html" %}

{% block content %}
    <div class="content-wrapper" style="background-color: white">

        <!-- Content Header (Page header) -->


        <section class="content-header">
            <h1>User Profile</h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Overview - Below are your registered user details. Your access token is required to upload data to
                        minoTour</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                {{ form.non_field_errors }}

                <form class="form-horizontal" method="post" action="{% url 'profile' %}">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>

                            <div class="col-sm-10 control-label" style="height: 100%; text-align: left;">
                                {{ request.user.username }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_email" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                {{ form.email.errors }}
                                <input class="form-control" type="email" name="email" id="id_email" maxlength="120" required
                                       value="{{ request.user.email }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Access Token</label>

                            <div class="col-sm-10 control-label" style="height: 100%; text-align: left;">
                                <span id="token">{{ authToken }}</span>&nbsp;<button id="btn-copy-token" class="btn btn-info btn-sm">Copy</button>
                                <span id="msg"></span><br>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="id_twitter_handle" class="col-sm-2 control-label">Twitter Handle</label>

                            <div class="col-sm-10">
                                {{ form.twitter_handle.errors }}
                                <input class="form-control" type="text" name="twitter_handle" id="id_twitter_handle" maxlength="32"
                                       value="{{ userDetails.twitterhandle }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        {{ form.receive_emails.errors }}
                                        {% if userDetails.email %}
                                            <input type="checkbox" name="receive_emails" id="id_receive_emails" checked> Receive Emails
                                        {% else %}
                                            <input type="checkbox" name="receive_emails" id="id_receive_emails"> Receive Emails
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        {{ form.receive_tweets.errors }}
                                        {% if userDetails.tweet %}
                                            <input type="checkbox" name="receive_tweets" id="id_receive_tweets" checked> Receive Tweets
                                        {% else %}
                                            <input type="checkbox" name="receive_tweets" id="id_receive_tweets"> Receive Tweets
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>



        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}

{% block javascript %}

    <script>

        document.getElementById("btn-copy-token").addEventListener("click", function() {
            copyToClipboardMsg(document.getElementById("token"), "msg");
        });


        set_active_navbar_item(7);
    </script>
{% endblock %}
