{% extends "web/template_private.html" %}

{% block content %}
    <div class="content-wrapper" style="background-color: white">

        <!-- Content Header (Page header) -->


        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
        <div class="container-fluid">
            <div class="card ">

                <h2 class="card-header">User Profile - Below are your registered user details. Your access token is
                    required to upload data to minoTour.</h2>
                <!-- /.box-header -->
                <!-- form start -->
                {{ form.non_field_errors }}
                <div class="card-body">

                    <form class="form-horizontal" method="post" action="{% url 'profile' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 ">Username</label>

                            <div class="col-sm-10 " style="height: 100%; text-align: left;">
                                {{ request.user.username }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_email" class="col-sm-2 ">Email</label>

                            <div class="col-sm-10">
                                {{ form.email.errors }}
                                <input class="stretchy profile" type="email" name="email" id="id_email" maxlength="120"
                                       required
                                       value="{{ request.user.email }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 ">Access Token</label>

                            <div class="col-sm-10 " style="height: 100%; text-align: left;">
                                <span id="token">{{ authToken }}</span>&nbsp;<span id="btn-copy-token"
                                                                                   class="btn btn-info btn-sm">Copy
                            </span>
                                <span id="copy-msg"></span><br>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="id_twitter_handle" class="col-sm-2 ">Twitter Handle</label>

                            <div class="col-sm-10">
                                {{ form.twitter_handle.errors }}
                                <input class="stretchy" type="text" name="twitter_handle" id="id_twitter_handle"
                                       maxlength="32"
                                       value="{{ userDetails.twitterhandle }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        {{ form.receive_emails.errors }}
                                        {% if userDetails.email %}
                                            <input type="checkbox" name="receive_emails" id="id_receive_emails" checked>
                                            Receive Emails
                                        {% else %}
                                            <input type="checkbox" name="receive_emails" id="id_receive_emails"> Receive
                                            Emails
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        {{ form.receive_tweets.errors }}
                                        {% if userDetails.tweet %}
                                            <input type="checkbox" name="receive_tweets" id="id_receive_tweets" checked>
                                            Receive Tweets
                                        {% else %}
                                            <input type="checkbox" name="receive_tweets" id="id_receive_tweets"> Receive
                                            Tweets
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- /.box-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info pull-right">Save</button>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}

{% block javascript %}

    <script>
        /**
         * Set a message and clear it three seconds later.
         * @param {string} msg The messsage to set on resolution of the promise.
         */
        function setMessage(msg) {
            $("#copy-msg").text(msg)
            setInterval(() => {
                $("#copy-msg").text("")
            }, 3000)
        }

        $(function () {
            $('#btn-copy-token').click(function () {
                navigator.clipboard.writeText($("#token").text()).then(() => {
                    setMessage("Text copied to clipboard.")
                }, (err) => {
                    setMessage("Copy not supported or blocked.  Press Ctrl+c to copy.")
                    console.error(err)
                })
            });
        });
        const topPadding = $(".main-header").height() + 16;
        $(".content-wrapper").css("padding-top", `${topPadding}px`);

        setActiveNavbarItem(7);
    </script>
{% endblock %}
