{% extends "web/template_private.html" %}
{% load static %}
{% block javascript %}
    <script>
        //    document.getElementById("btn-copy-token").addEventListener("click", function() {
        //      copyToClipboardMsg(document.getElementById("token"), "msg");
        // });
        set_active_navbar_item(1);
    </script>
{% endblock %}
{% block content %}
    <link href="{% static 'web/libraries/vuetify.min.css' %}" rel="stylesheet">
    <div class="content-wrapper" style="background-color: white">
        <section class="content">
            {#            <div id="app">#}

            <div id="app">
                {% verbatim %}
                <template>
                    <v-app>
                        <v-container
                                class="fill-height"
                                fluid
                        >

                            <v-row
                                    align="center"
                                    justify="center"
                            >
                                Currently Running Devices:
                            </v-row>
                            <v-row
                                    align="center"
                                    justify="center"
                            >
                                <template>
                                    <v-simple-table dense>

                                        <!--
                                        read_count 267851
                                  selected_raw_samples 12575862438
                                  selected_events 684462434
                                  estimated_selected_bases 1232032384
                                  written_read_count 0
                                  basecalled_pass_read_count 0
                                  basecalled_fail_read_count 0
                                  basecalled_skipped_read_count 0
                                  basecalled_bases 0
                                  basecalled_samples 0
                                  bytes_to_write_produced 0
                                  bytes_to_write_failed 0
                                  bytes_to_write_completed 0
                                  -->
                                        <template v-slot:default>
                                            <thead>
                                            <tr>
                                                <th class="text-left">Computer Name<br>Device<br>Experiment<br>Sample
                                                </th>
                                                <th class="text-left">Run Start</th>
                                                <th class="text-left">Flowcell ID<br>Type<br>Script</th>
                                                <th class="text-left">Channels<br>Mux</th>
                                                <th class="text-left">Live Bases?</th>
                                                <th class="text-left">N50<br>Mean (Est.)</th>
                                                <th class="text-left">Max Read</th>
                                                <th class="text-left">Read Count<br>Num Called<br>%</th>
                                                <th class="text-left">Pass %</th>
                                                <th class="text-left">Bases (Real/Est.)</th>
                                                <th class="text-left">Occupancy</th>
                                                <th class="text-left">Strand %<br>Adapter %<br>Pore %</th>
                                                <th class="text-left">Voltage</th>
                                                <th class="text-left">Temp/Target</th>
                                                <th class="text-left">ASIC Temp</th>
                                                <th class="text-left">Speed</th>
                                                <th class="text-left">Quality</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="item in activeDevices" :key="item.device">
                                                <td>{{ item.computer }}<br>{{ item.name }}<br>{{
                                                    item.sample_name
                                                    }}<br>{{ item.experiment_name }}
                                                </td>
                                                <td>{{ item.start_time }}</td>
                                                <td>{{ item.flow_cell_id }}<br>{{ item.flowcell_type }}<br>
                                                    {{item.current_script}}
                                                </td>
                                                <td>{{ item.channel_count }}<br>{{item.wells_per_channel}}</td>
                                                <td>
                                                    <div v-if="item.read_length_type == 'BASECALLED_BASES'">
                                                        <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
                                                    </div>
                                                    <div v-else>
                                                        <v-icon>mdi-checkbox-blank-circle-outline</v-icon>
                                                    </div>
                                                </td>
                                                <td>{{ item.n50_data | humnum}}<br>{{ (item.basecalled_bases /
                                                    item.minKNOW_read_count)
                                                    | humnum}} ({{ (item.estimated_selected_bases /
                                                    item.minKNOW_read_count)
                                                    |
                                                    humnum}})
                                                </td>
                                                <td>{{ item.actual_max_val | humnum}}</td>
                                                <td>{{ item.minKNOW_read_count | humnum}} <br> {{
                                                    (parseInt(item.basecalled_pass_read_count)+parseInt(item.basecalled_fail_read_count))
                                                    | humnum}} <br> {{
                                                    (parseInt(item.basecalled_pass_read_count)+parseInt(item.basecalled_fail_read_count))
                                                    / item.minKNOW_read_count *100 | humnum}}%
                                                </td>
                                                <td>{{ item.basecalled_pass_read_count / item.minKNOW_read_count * 100 |
                                                    humnum}}%
                                                </td>
                                                <td>{{item.basecalled_bases | humnum }}b<br>{{
                                                    item.estimated_selected_bases
                                                    |
                                                    humnum}}b
                                                </td>
                                                <td>
                                                    <v-chip :color="testValue(((item.strand + item.adapter)/ (item.strand + item.adapter + item.pore) * 100) , 'occupancy')">
                                                        {{ (item.strand + item.adapter)/ (item.strand +
                                                        item.adapter
                                                        +
                                                        item.pore) * 100 | humnum}}%
                                                    </v-chip>
                                                </td>
                                                <td>
                                                    <v-chip :color="testValue(item.strand , 'strand')" small
                                                            outlined>{{
                                                        item.strand }}%
                                                    </v-chip>
                                                    <br>
                                                    <v-chip :color="testValue(item.adapter , 'adapter')" small
                                                            outlined>{{
                                                        item.adapter }}%
                                                    </v-chip>
                                                    <br>
                                                    <v-chip :color="testValue(item.pore , 'pore')" small
                                                            outlined>{{
                                                        item.pore
                                                        }}%
                                                    </v-chip>
                                                </td>
                                                <td>
                                                    <v-chip :color="testValue(item.voltage_value , 'voltage')">{{
                                                        item.voltage_value}}
                                                    </v-chip>
                                                </td>
                                                <td>{{item.heat_sink_temp | humnum}}&#8451; <br>
                                                    {{item.target_temp
                                                    | humnum}}&#8451;
                                                </td>
                                                <td>{{item.asic_temp |humnum}}&#8451;</td>
                                                <td>{{item.speed_q50 | humnum}} b/s</td>
                                                <td>{{item.QUALITY_q50 | humnum}}</td>
                                            </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-row>
                            <v-row
                                    align="center"
                                    justify="center"
                            >
                                <v-col>
                                    <v-row
                                            align="center"
                                            justify="center"
                                    >
                                        <v-alert
                                                prominent
                                                border="left"
                                                elevation="2"
                                                colored-border
                                                icon="mdi-desktop-classic">
                                            <v-row align="center">
                                                <v-col class="grow">
                                                    You have <strong>{{ computer_info.number }}</strong> computer(s)
                                                    connected.<br>
                                                    There are <strong>{{ numActive }}</strong> active and <strong>{{numInactive}}</strong>
                                                    inactive positions.<br>
                                                    {{ computer_info.message }}
                                                </v-col>
                                            </v-row>
                                        </v-alert>
                                    </v-row>
                                </v-col>
                                <v-col>

                                    <template>
                                        <v-container fluid>
                                            <v-data-iterator
                                                    :items="computers"
                                                    :items-per-page.sync="itemsPerPage"
                                                    :footer-props="{ itemsPerPageOptions }"
                                            >
                                                <template v-slot:default="props">
                                                    <v-row>
                                                        <v-col
                                                                v-for="item in props.items"
                                                                :key="item.ipaddress"
                                                                cols="4"
                                                                sm="4"
                                                                md="4"
                                                                lg="4"
                                                        >
                                                            <v-card>
                                                                <v-card-text dense>
                                                                    <h3>{{ item.computer }}</h3>
                                                                    Device Type:{{ item.device_type}}<br>
                                                                    MinKNOW Version:{{item.minknow_version}}<br>
                                                                    <div v-if="item.warning">
                                                                        <v-alert
                                                                                dense
                                                                                type="error">
                                                                            Space Free:{{item.space_available |
                                                                            humnum}}%<br>Stops:{{item.space_till_shutdown
                                                                            | humnum}}%<br>
                                                                        </v-alert>
                                                                    </div>
                                                                    <div v-else>
                                                                        <v-alert
                                                                                dense
                                                                                type="success">
                                                                            Space Free:{{item.space_available | humnum}}<br>Stops:{{item.space_till_shutdown
                                                                            | humnum}}<br>
                                                                        </v-alert>
                                                                    </div>
                                                                    <v-btn x-small dark
                                                                           @click="removeme(item.ipaddress)">
                                                                        Refresh
                                                                    </v-btn>
                                                                </v-card-text>
                                                            </v-card>
                                                        </v-col>
                                                    </v-row>
                                                </template>
                                            </v-data-iterator>
                                        </v-container>
                                    </template>

                                </v-col>
                            </v-row>
                            <v-row
                                    align="center"
                                    justify="center"
                            >
                                Currently Inactive Devices:
                            </v-row>
                            <v-row
                                    align="center"
                                    justify="center"
                            >
                                <template>
                                    <v-simple-table dense>
                                        <template v-slot:default>
                                            <thead>
                                            <tr>
                                                <th class="text-left">Computer Name</th>
                                                <th class="text-left">Device</th>
                                                <th class="text-left">Flowcell ID/Type</th>
                                                <th class="text-left">Channels/Mux</th>
                                                <th class="text-left">Test Coms</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="item in inactiveDevices" :key="item.device">
                                                <td>{{ item.computer }}</td>
                                                <td>{{ item.minION_name }}</td>
                                                <td>{{ item.flow_cell_id }}/{{ item.product_code }}</td>
                                                <td>{{ item.channel_count }}/{{item.wells_per_channel}}</td>
                                                <td>
                                                    <button v-on:click="testMessage" :id='item.minION_name'
                                                            type='button'
                                                            class='btn btn-info btn-sm'><i class='fa fa-magic'></i>
                                                        Test
                                                    </button>
                                                </td>


                                            </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </template>
                            </v-row>
                        </v-container>
                    </v-app>
                </template>
                {% endverbatim %}
            </div>

            <script src="{% static 'web/libraries/vue.js' %}"></script>
            <script src="{% static 'web/libraries/vuetify.js' %}"></script>

            <script>
                {#set_active_navbar_item(1);#}
                const topPadding = $(".main-header").height() + 16;
                $(".content-wrapper").css("padding-top", `${topPadding}px`);
                const vuetify = new Vuetify({
                    theme: {
                        themes: {
                            light: {
                                primary: "#E53935",
                                secondary: "#FFCDD2",
                                accent: "#3F51B5"
                            },
                        },
                    },
                });
                // TODO move to a getter on RemoteControlController
                const vm = new Vue({
                    vuetify,
                    el: "#app",
                    name: 'App',
                    created() {
                        this.getData();
                        this.timer = setInterval(this.getData, 15000)
                    },
                    methods: {
                        testMessage(event) {

                            var minionid = event.target.id.split("/");
                            var url_mask = "{% url 'minIONcontrol-list' pk=12345 %}".replace(/12345/, minionid[minionid.length - 2].toString());
                            axios.post(url_mask, {

                                    "custom": "",
                                    "job": "testmessage",
                                    "minION": event.target.id,
                                    "complete": 'False'
                                }
                            ).then(response => {
                                console.log(response)
                            });
                            //ws.send(JSON.stringify(instructionmessage));
                        },
                        testValue(value, type) {
                            /* eslint-disable no-console */
                            switch (type) {
                                case "occupancy":
                                    if (value === 100) {
                                        return "red"
                                    } else if (value <= 80) {
                                        return "orange"
                                    } else if (value <= 50) {
                                        return "red"
                                    } else if (isNaN(value)) {
                                        return "red"
                                    } else {
                                        return "green"
                                    }
                                case "voltage": {
                                    if (value >= -220 && value <= -160) {
                                        return "green"
                                    } else {
                                        return "red"
                                    }
                                }
                                case "strand": {
                                    if (value <= 50) {
                                        return "red"
                                    } else {
                                        return "green"
                                    }
                                }
                                case "adapter": {
                                    if (value >= 50) {
                                        return "red"
                                    } else {
                                        return "green"
                                    }

                                }
                                case "pore": {
                                    if (value >= 50) {
                                        return "red"
                                    } else {
                                        return "green"
                                    }
                                }
                            }
                        },
                        getData() {
                            axios
                                .get('/api/v1/active_minions')
                                .then(response => {
                                    this.devices = response.data;
                                    this.parseComputerData()
                                })
                                .catch(error => console.log(error))
                        },
                        cancelAutoUpdate() {
                            clearInterval(this.timer)
                        },
                        parseComputerData() {
                            // Add computers temp here
                            let tempComputerList = [];
                            this.devices.forEach(minion => {
                                if (!tempComputerList.some(e => e.computer === minion.computer)) {
                                    tempComputerList.push((
                                            (
                                                {computer, space_available, space_till_shutdown, minknow_version}) => (
                                                {
                                                    computer,
                                                    space_available,
                                                    space_till_shutdown,
                                                    minknow_version
                                                }
                                            )
                                        )
                                        (minion)
                                    );
                                }
                            });
                            // Get number unique computers
                            this.computer_info.number = tempComputerList.length;
                            this.computers = tempComputerList
                        },
                    },
                    computed: {
                        activeDevices() {
                            if (typeof this.devices === 'undefined') {
                                return
                            } else {
                                return this.devices.filter(function (devices) {
                                    console.log(devices);
                                    return devices.run_status.match(/^(ACQUISITION_PROCESSING|STARTING|FINISHING|ACQUISITION_RUNNING|)$/) //("PROCESSING","STARTING","FINISHING")
                                })
                            }
                        },
                        inactiveDevices() {
                            if (typeof this.devices === 'undefined') {
                                return
                            } else {
                                return this.devices.filter(function (devices) {
                                    return devices.run_status.match(/^(active|COMPLETED|No Run|ACQUISITION_COMPLETED)$/)
                                })
                            }
                        },
                        numActive() {
                            return this.activeDevices.length
                        },
                        numInactive() {
                            return this.inactiveDevices.length
                        },


                    },
                    filters: {
                        humnum(num) {
                            var si = [
                                {value: 0, symbol: ""},
                                {value: 1, symbol: ""},
                                {value: 1E3, symbol: "k"},
                                {value: 1E6, symbol: "M"},
                                {value: 1E9, symbol: "G"},
                                {value: 1E12, symbol: "T"},
                                {value: 1E15, symbol: "P"},
                                {value: 1E18, symbol: "E"}
                            ];
                            var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
                            var i;
                            for (i = si.length - 1; i > 0; i--) {
                                if (num >= si[i].value && num !== 0) {
                                    break;
                                }
                            }
                            return (num / si[i].value).toFixed(2).replace(rx, "$1") + si[i].symbol;
                        }
                    },
                    destroyed() {
                        this.cancelAutoUpdate()
                    },
                    data: {
                        CustomAlertType: "warning",
                        GeneralResponseAlert: false,
                        add_computer: false,
                        ip_to_add: null,
                        computer_info: {
                            number: 0,
                            message: "",
                            alert_type: "danger"
                        },
                        timer: null,
                        alert: true,
                        itemsPerPageOptions: [3, 6, 9, 12],
                        itemsPerPage: 3,
                        computers: [],
                        devices: [],
                        humnum: null
                        //
                    }
                    {#render: h => h(App)#}
                });
                {#const remoteControlController = new RemoteControlController(vm);#}
                {#remoteControlController.getActiveMinionsAndStats();#}

                {#set_active_navbar_item(1);#}

                // NOW TO RAM SOME DATA IN
                {#vm.computers.append(remoteControlController.getActiveMinions())#}


            </script>
            {#    </div>#}
        </section>
    </div>
{% endblock %}


