{% extends "web/template_private.html" %}
{% load static %}

{% block content %}
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Previous Summary
                <small> -</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-table"></i> previous run</a></li>
                <li><a href="#"><i class="fa fa-bar-chart-o"></i> Data Summary</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Run: <span>{{ minion_run.run_name }}</span> (<span
                            id='run-id'>{{ minion_run.id }}</span>)</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button id="counterdown-btn" class="btn btn-default">Reloading in 30 seconds</button>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs" id="nav-tabs-barcodes">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Custom Tabs -->
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li><a href="#" v-on:click="setActiveTab('read-summaries-tab', $event)">Read
                                        Summaries</a></li>
                                    <li><a href="#" v-on:click="setActiveTab('basecaller-summary-tab', $event)">Basecaller
                                        Summary</a></li>
                                    <li><a href="#" v-on:click="setActiveTab('read-histograms-tab', $event)">Read
                                        Histograms</a></li>
                                    <li><a href="#" v-on:click="setActiveTab('sequencing-rates-tab', $event)">Sequencing
                                        Rates</a></li>
                                    <li><a href="#" v-on:click="setActiveTab('pore-activity-tab', $event)">Pore
                                        Activity</a></li>
                                    <li><a href="#" v-on:click="setActiveTab('read-quality-tab', $event)">Read
                                        Quality</a></li>
                                    <li><a href="#" v-on:click="setActiveTab('coverage-detail-tab', $event)">Coverage
                                        Detail</a></li>
                                    <li><a href="#" v-on:click="setActiveTab('base-coverage-tab', $event)">Base
                                        Coverage</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1" v-show="isActiveTab('read-summaries-tab')">


                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><!-- Button trigger modal -->
                                                    <button class="btn btn-info" data-toggle="modal"
                                                            data-target="#modal1">
                                                        <i class="fa fa-info-circle"></i> Reads And Coverage Summary
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog"
                                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"><span
                                                                            aria-hidden="true">&times;</span><span
                                                                            class="sr-only">Close</span>
                                                                    </button>
                                                                    <h4 class="modal-title" id="myModalLabel">Reads
                                                                        And Coverage Summary</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    This panel provides information on the number of
                                                                    reads of each type generated by the metrichor
                                                                    analysis. The avergae read lengths and the
                                                                    maximum read length for each are shown.<br><br>
                                                                    Where a reference sequence is available for
                                                                    mapping, the proportion of the reference covered
                                                                    by reads is shown as "Percentage of Reference
                                                                    with Read".<br><br>
                                                                    The average depth of sequencing over these
                                                                    positions is shown as "Average Depth Of
                                                                    Sequenced Positions".<br>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div id="reads-called" class="col-md-6 highcharts"
                                                         style="width:25%; height:400px;">
                                                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Read Numbers
                                                    </div>

                                                    <div id="yield" class="col-md-6 highcharts"
                                                         style="width:25%; height:400px;">
                                                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Read Numbers
                                                    </div>

                                                    <div id="average-read-length" class="col-md-6 highcharts"
                                                         style="width:25%; height:400px;">
                                                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Read Numbers
                                                    </div>

                                                    <div id="maximum-read-length" class="col-md-6 highcharts"
                                                         style="width:25%; height:400px;">
                                                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Read Numbers
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div id="average-read-lengths-overtime" class="col-md-12 highcharts"
                                                         style="width:100%; height:400px;">
                                                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">Run Summary</div>
                                            <div class="panel-body">

                                                <h3>Read Data</h3><h4>Basecalled Template</h4>
                                                <table class='table table-condensed'>
                                                    <thead>
                                                    <tr>
                                                        <th>Experiment Purpose</th>
                                                        <th>Sequenced Reads</th>
                                                        <th>Average Length</th>
                                                        <th>Standard Deviation</th>
                                                        <th>Max Length</th>
                                                        <th>Min Length</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>sequencing_run</td>
                                                        <td>211158</td>
                                                        <td>5878</td>
                                                        <td>3788.01</td>
                                                        <td>110841</td>
                                                        <td>5</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <h4>Basecalled Complement</h4>
                                                <table class='table table-condensed'>
                                                    <thead>
                                                    <tr>
                                                        <th>Experiment Purpose</th>
                                                        <th>Sequenced Reads</th>
                                                        <th>Average Length</th>
                                                        <th>Standard Deviation</th>
                                                        <th>Max Length</th>
                                                        <th>Min Length</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>sequencing_run</td>
                                                        <td>142721</td>
                                                        <td>4662</td>
                                                        <td>3400.82</td>
                                                        <td>253028</td>
                                                        <td>5</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <h4>Basecalled 2d</h4>
                                                <table class='table table-condensed'>
                                                    <thead>
                                                    <tr>
                                                        <th>Experiment Purpose</th>
                                                        <th>Sequenced Reads</th>
                                                        <th>Average Length</th>
                                                        <th>Standard Deviation</th>
                                                        <th>Max Length</th>
                                                        <th>Min Length</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>sequencing_run</td>
                                                        <td>108895</td>
                                                        <td>5973</td>
                                                        <td>3101.42</td>
                                                        <td>40111</td>
                                                        <td>87</td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">Run details</div>
                                            <div class="panel-body">

                                                <table class='table table-condensed'>
                                                    <thead>
                                                    <tr>
                                                        <th>Device ID</th>
                                                        <th>Experiment Purpose</th>
                                                        <th>Reads Generated</th>
                                                        <th>Start Time</th>
                                                        <th>Start Date</th>
                                                        <th>Run ID</th>
                                                        <th>Version Name</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>MN16458</td>
                                                        <td>sequencing_run</td>
                                                        <td>211246</td>
                                                        <td>15:01:18</td>
                                                        <td>27-07-16</td>
                                                        <td>73e7ea065b890b481d1e8de9ff187d707af5ecdb</td>
                                                        <td>0.51.3.55 b201606151601</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">Reads summary</div>
                                            <div class="panel-body">

                                                <h4>Basecalled Template</h4>
                                                <table class='table table-condensed'>
                                                    <thead>
                                                    <tr>
                                                        <th>Experiment Purpose</th>
                                                        <th>Sequenced Reads</th>
                                                        <th>Average Length</th>
                                                        <th>Standard Deviation</th>
                                                        <th>Max Length</th>
                                                        <th>Min Length</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>sequencing_run</td>
                                                        <td>211158</td>
                                                        <td>5878</td>
                                                        <td>3788.01</td>
                                                        <td>110841</td>
                                                        <td>5</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.col-lg-12 -->
                                    <!-- /.tab-pane -->

                                    <div class="tab-pane active" v-show="isActiveTab('basecaller-summary-tab')">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane active" v-show="isActiveTab('read-histograms-tab')">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane active" v-show="isActiveTab('sequencing-rates-tab')">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div id="cumulative-number-reads-overtime" class="col-md-12 highcharts"
                                                         style="width:100%; height:400px;">
                                                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id="sequencing-rate" class="col-md-12 highcharts"
                                                         style="width:100%; height:400px;">
                                                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane active" v-show="isActiveTab('pore-activity-tab')">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane active" v-show="isActiveTab('read-quality-tab')">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane active" v-show="isActiveTab('coverage-detail-tab')">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane active" v-show="isActiveTab('base-coverage-tab')">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"></h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- nav-tabs-custom -->
                        </div>
                        <!-- /.col -->
                        <!-- /.col -->
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <script src="{% static 'web/minotour.js' %}?{% now 'c' %}"></script>
    <script>
        $(document).ready(function () {
            var app = new MinotourApp();
            app.init();
        });
    </script>

{% endblock %}
