{% extends "web/template_private.html" %}
{% load static %}

{% block content %}
    <div class="content-wrapper" id="app">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Previous Summary
                <small> -</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-table"></i> previous run</a></li>
                <li><a href="#"><i class="fa fa-bar-chart-o"></i> Data Summary</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Run: ${ minion_run.run_name }</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <minionrun-item
                                            v-for="barcode in minion_run.barcodes"
                                            v-bind:barcode="barcode"
                                            v-bind:key="barcode">
                                    </minionrun-item>
                                </ul>
                            </div>

                            <!-- Custom Tabs -->
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="previous_summary.php">Read Summaries</a></li>
                                    <li><a href="previous_basecalling.php">Basecaller Summary</a></li>
                                    <li><a href="previous_histogram.php">Read Histograms</a></li>
                                    <li><a href="previous_rates.php">Sequencing Rates</a></li>
                                    <li><a href="previous_pores.php">Pore Activity</a></li>
                                    <li><a href="previous_quality.php">Read Quality</a></li>
                                    <li><a href="previous_coverage.php">Coverage Detail</a></li>
                                    <li><a href="previous_bases.php">Base Coverage</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><!-- Button trigger modal -->
                                                    <button class="btn btn-info" data-toggle="modal"
                                                            data-target="#modal1">
                                                        <i class="fa fa-info-circle"></i> Reads And Coverage Summary
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog"
                                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"><span
                                                                            aria-hidden="true">&times;</span><span
                                                                            class="sr-only">Close</span>
                                                                    </button>
                                                                    <h4 class="modal-title" id="myModalLabel">Reads
                                                                        And Coverage Summary</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    This panel provides information on the number of
                                                                    reads of each type generated by the metrichor
                                                                    analysis. The avergae read lengths and the
                                                                    maximum read length for each are shown.<br><br>
                                                                    Where a reference sequence is available for
                                                                    mapping, the proportion of the reference covered
                                                                    by reads is shown as "Percentage of Reference
                                                                    with Read".<br><br>
                                                                    The average depth of sequencing over these
                                                                    positions is shown as "Average Depth Of
                                                                    Sequenced Positions".<br>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <show-chart :mybarcode='selectedBarcode'></show-barcode-charts>

                                                    <div class="col-md-6" id="readnum"
                                                         style="width:25%; height:400px;"><i
                                                            class="fa fa-cog fa-spin fa-3x"></i> Calculating
                                                        Read Numbers
                                                    </div>
                                                    <div class="col-md-6" id="yield"
                                                         style="width:25%; height:400px;"><i
                                                            class="fa fa-cog fa-spin fa-3x"></i> Calculating
                                                        Yield
                                                    </div>
                                                    <div class="col-md-6" id="avglen"
                                                         style="width:25%; height:400px;"><i
                                                            class="fa fa-cog fa-spin fa-3x"></i> Calculating
                                                        Read Average Length
                                                    </div>
                                                    <div class="col-md-6" id="maxlen"
                                                         style="width:25%; height:400px;"><i
                                                            class="fa fa-cog fa-spin fa-3x"></i> Calculating
                                                        Read Max Length
                                                    </div>
                                                    <div class="col-md-12" id="boxplotlength" style="height:400px;">
                                                        <i class="fa fa-cog fa-spin fa-3x"></i> Calculating Box
                                                        Plots
                                                    </div>
                                                </div>
                                                <div id="lengthtimewindow" style="height:400px;"><i
                                                        class="fa fa-cog fa-spin fa-3x"></i> Read Lengths Over
                                                    Time.
                                                </div>

                                                <div class="row">
                                                    <?php if ($_SESSION['focusreference'] != "NOREFERENCE") { ?>

                                                    <?php if (count($_SESSION['focusrefnames']) >= 3) {
                                                    //echo "We need something else to handle this bad boy.";?>
                                                    <div class="col-md-6" id="percentcoverageglob"
                                                         style="height:400px;"><i
                                                            class="fa fa-cog fa-spin fa-3x"></i>
                                                        Calculating Reference Coverage for sequences
                                                    </div>
                                                    <div class="col-md-6" id="depthcoverageglob"
                                                         style="height:400px;"><i
                                                            class="fa fa-cog fa-spin fa-3x"></i>
                                                        Calculating Reference Depth for sequences
                                                    </div>
                                                    <?php
                                                            } else { ?>
                                                    <?php var_dump($_SESSION['focusrefnames']); ?>
                                                    <?php foreach ($_SESSION['focusrefnames'] as $key => $value) {
                                                    echo $key . " " . $value . "<br>"; ?>
                                                    <div class="col-md-6"
                                                         id="percentcoverage<?php echo $key; ?>"
                                                         style="height:200px;"><i
                                                            class="fa fa-cog fa-spin fa-3x"></i>
                                                        Calculating Reference Coverage
                                                        for <?php echo $value; ?></div>
                                                    <div class="col-md-6"
                                                         id="depthcoverage<?php echo $key; ?>"
                                                         style="height:200px;"><i
                                                            class="fa fa-cog fa-spin fa-3x"></i>
                                                        Calculating Reference Depth
                                                        for <?php echo $value; ?></div>
                                                    <?php
                                                                }
                                                            }
                                                        } else { ?>
                                                    <div>
                                                        <p class="text-center">
                                                            <small>This dataset has not been aligned to a
                                                                reference sequence.
                                                            </small>
                                                        </p>
                                                    </div>
                                                    <?php }; ?>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><!-- Button trigger modal -->
                                                    <button class="btn btn-info" data-toggle="modal"
                                                            data-target="#modal6">
                                                        <i class="fa fa-info-circle"></i> Run Summary</h4>
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="modal6" tabindex="-1" role="dialog"
                                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"><span
                                                                            aria-hidden="true">&times;</span><span
                                                                            class="sr-only">Close</span>
                                                                    </button>
                                                                    <h4 class="modal-title" id="myModalLabel"> Run
                                                                        Summary</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Key details on the run.<br><br>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="panel-body">
                                                <?php prevrunsummary(); ?>
                                            </div>
                                        </div>


                                    </div>
                                    <!-- /.col-lg-12 -->


                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- nav-tabs-custom -->
                        </div>
                        <!-- /.col -->


                        <!-- /.col -->
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->


    <!-- Vue Templates -->
    <template id="chart">
        <div class="highcharts"></div>
    </template>


    <script>
        console.log('before vue');

        Vue.component('minionrun-item', {
            delimiters: ['${', '}'],
            props: ['barcode'],
            template: "<li><a v-on:click='selectedBarcode=loadChartsByBarcode(barcode)' href='#'>${ barcode }</a></li>",
            methods: {
                loadChartsByBarcode: function (mybarcode) {
                    console.log(mybarcode);
                    app.selectedBarcode = mybarcode;
                }
            }

        });

        Vue.component('show-chart', {
            template: '#chart',
            props: ['mybarcode'],
            data: function () {
                return {
                    counter: 0,
                    chart: null,
                    opts: {
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: 'Fruit Consumption'
                        },
                        xAxis: {
                            categories: ['Apples', 'Bananas', 'Oranges']
                        },
                        yAxis: {
                            title: {
                                text: 'Fruit eaten'
                            }
                        },
                        series: [{
                            name: 'Jane',
                            data: [1, 0, 4]
                        }, {
                            name: 'John',
                            data: [5, 7, 3]
                        }]
                    }
                };
            },
            // lifecycle hooks - ref: https://alligator.io/vuejs/component-lifecycle/
            created() {
                console.log('inside created event of the component show-chart');
                /*setInterval(() => {
                    this.counter++;
                    console.log(this.counter);
                }, 1000);*/
            },
            mounted() {
                console.log('inside mounted event of the component show-chart');
                if (!this.chart && this.opts) {
                    this._init();
                }
            },
            beforeUpdate() {
                console.log('inside updated event of the component show-chart. mybarcode is ' + this.mybarcode);
                console.log('ola');
                console.log(this.counter);
                //this.opts.title.text = mybarcode;
            },
            watch: {
                mybarcode: function (mybarcode) {
                    console.log('updated barcode ' + this.mybarcode);
                    this.opts.title.text = this.mybarcode

                    if (this.mybarcode == 'All reads') {
                        series = [{
                            name: 'Roberto',
                            data: [3, 6, 9]
                        }, {
                            name: 'Joe',
                            data: [4, 1, 12]
                        }];
                    } else {
                        series = [{
                            name: 'Jane',
                            data: [1, 0, 4]
                        }, {
                            name: 'John',
                            data: [5, 7, 3]
                        }]
                    }
                    this.opts.series = series;
                    this.chart.update(this.opts);
                },
                opts: function (opts) {
                    if (!this.getChart() && opts) {
                        this._init()
                    } else {
                        this.getChart().update(this.opts);
                    }
                }
            },
            beforeDestroy() {
                if (this.chart) {
                    this.chart.destroy();
                }
            },
            methods: {
                _init() {
                    console.log('inside _init method of the component');
                    if (!this.chart && this.opts) {
                        let _Highcharts = this.Highcharts || Highcharts;
                        this.chart = new _Highcharts.Chart(this.$el, this.opts);
                    }
                }
            }
        });

        var app = new Vue({
            delimiters: ['${', '}'],
            el: "#app",
            data: {
                minion_run: '',
                id: {{ minion_run.id }},
                selectedBarcode: '',
            },
            created: function () {
                var url_run = '/api/v1/runs/' + this.id;
                var promise_run = this.$http.get(url_run);
                promise_run
                    .then(function(res){
                        console.log(res.json());
                        return res.json();
                    })
                    .then(function(minion_run){
                        this.minion_run = minion_run;
                        this.minion_run.barcodes = this.minion_run.barcodes.sort()
                    });
                console.log('inside created.')
            },
            computed: {
            },
        });

        console.log('after vue');


        /*

        $(document).ready(function () {
            var options_reads_called = {
                chart: {
                    renderTo: 'readnum',
                    type: 'column',
                },
                plotOptions: {
                    column: {
                        animation: false
                    }
                },
                title: {
                    text: 'Reads Called'
                },
                xAxis: {
                    title: {
                        text: 'Strand'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Number of Reads Called'
                    }
                },
                credits: {
                    enabled: false
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: []
            };

            var options_reads_avg = {
                chart: {
                    renderTo: 'avglen',
                    type: 'column',
                },
                plotOptions: {
                    column: {
                        animation: false
                    }
                },
                title: {
                    text: 'Average Read Length'
                },
                xAxis: {
                    title: {
                        text: 'Strand'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Number of Reads Called'
                    }
                },
                credits: {
                    enabled: false
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: []
            };

            var options_reads_max = {
                chart: {
                    renderTo: 'maxlen',
                    type: 'column',
                },
                plotOptions: {
                    column: {
                        animation: false
                    }
                },
                title: {
                    text: 'Maximum Read Length'
                },
                xAxis: {
                    title: {
                        text: 'Strand'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Number of Reads Called'
                    }
                },
                credits: {
                    enabled: false
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: []
            };

            var options_reads_yield = {
                chart: {
                    renderTo: 'yield',
                    type: 'column',
                },
                plotOptions: {
                    column: {
                        animation: false
                    }
                },
                title: {
                    text: 'Yield'
                },
                xAxis: {
                    title: {
                        text: 'Strand'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Number of Reads Called'
                    }
                },
                credits: {
                    enabled: false
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: []
            };

            var options_average_read_length_overtime = {
                chart: {
                    renderTo: 'lengthtimewindow',
                    zoomType: 'x',
                    type: 'spline',
                },
                title: {
                    text: 'Average Read Lengths Over Time'
                },
                resetZoomButton: {
                    position: {
                        // align: 'right', // by default
                        // verticalAlign: 'top', // by default
                        x: -10,
                        y: 10
                    },
                    relativeTo: 'chart'
                },
                plotOptions: {
                    spline: {
                        animation: false,
                        marker: {
                            enabled: false
                        }

                    },


                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Time/Date'
                    }
                },
                yAxis: {

                    labels: {
                        align: 'right',
                        x: -3
                    },

                    title: {
                        text: 'Average Read Length'
                    },
                    height: '100%',
                    lineWidth: 1,
                    min: 0
                },
                credits: {
                    enabled: false
                },
                legend: {
                    title: {
                        text: 'Read Type <span style="font-size: 9px; color: #666; font-weight: normal">(Click to hide)</span>',
                        style: {
                            fontStyle: 'italic'
                        }
                    },

                    layout: 'horizontal',
                    align: 'center',
                    //verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: []
            };
            $.getJSON('/api/v1/runs/20/reads_statistics/', function (data) {
                console.log(data);
                options_reads_called.series = data.reads_called;
                options_reads_avg.series = data.average_read_length;
                options_reads_max.series = data.maximum_read_length;
                options_reads_yield.series = data.maximum_read_length;

                new Highcharts.Chart(options_reads_called);
                new Highcharts.Chart(options_reads_avg);
                new Highcharts.Chart(options_reads_max);
                new Highcharts.Chart(options_reads_yield);
            });

            $.getJSON('/api/v1/runs/20/reads_statistics2/', function (data) {

                var series = {}

                $.each(data, function (index, value) {

                });
                console.log(data);
            });


        });*/
    </script>

{% endblock %}
