{% extends "web/template_public.html" %}
{% load static %}

{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <section class="content-header">
                <h4 class="text-center">
                    <img style="max-width:100px;"
                         src="{% static 'web/img/minotourlogo.png' %}"
                         alt="minoTour_logo">
                    <br><span>- <em>real time data analysis for minION data</em> -</span>
                </h4>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header" style="text-align: center">Registration form</div>
                        <form method="post">


                            <div class=card-body">
                                <div class="container">
                                    <div class="row" style="height: 1vh"></div>


                                    {% csrf_token %}

                                    {% for field in form %}
                                        <div class="row">
                                            <div class="col-md-3">
                                                {{ field.label_tag }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ field }}
                                            </div>
                                            <div class="col-md-6">
                                                {% if field.help_text %}
                                                    <small style="color: grey">{{ field.help_text|safe }}</small>
                                                {% endif %}
                                                {% for error in field.errors %}
                                                    <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>

                            </div>
                            <div class="card-footer">
                                <div class="col-md-12">
                                    <button class="btn btn-primary" type="submit">Sign up</button>
                                    <a class="btn btn-primary" href="{% url 'login' %}" style="float: right">Go Back</a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>


            </section>

        </section>

    </div>

{% endblock %}