{% load static %}
<!doctype html>
<html lang="en" style="height: auto">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>minoTour | v1.0 | real time minION analysis</title>
    <link rel="icon" type="image/png" href="{% static 'web/img/minitour.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'web/img/minitour57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'web/img/minitour72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'web/img/minitour114.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'web/img/minitour144.png' %}">
    <link rel="mask-icon" href="{% static 'web/img/minotour.svg' %}" color="yellow">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <script src="{% static 'web/libraries/jquery-3.5.0.js' %}"></script>
    <script src="{% static 'web/libraries/popper.js' %}"></script>

    {#    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"#}
    {#            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"#}
    {#            crossorigin="anonymous"></script>#}
    <script src="{% static 'web/libraries/bootstrap-4.5.0-dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'web/libraries/AdminLTE-3.0.4/dist/css/adminlte.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'web/libraries/fontawesome-free-5.7.2-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/libraries/DataTables/datatables.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/minotour.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/loader.css' %}">
    <script src="{% static 'web/libraries/axios/axios.min.js' %}"></script>
    <script src="{% static 'web/libraries/highstock.js' %}"></script>
    <script src="{% static 'web/libraries/exporting.js' %}"></script>
    <script src="{% static 'web/libraries/highcharts-more.js' %}"></script>
    <script src="{% static 'web/libraries/boost.js' %}"></script>
    <script src="{% static 'web/libraries/solid-gauge.src.js' %}"></script>
    <script src="{% static 'web/libraries/grid-light-custom.js' %}"></script>
    <script src="{% static 'web/libraries/heatmap.src.js' %}"></script>
    <script src="{% static 'web/libraries/no-data-to-display.js' %}"></script>
    <script src="{% static 'web/libraries/cookie.js' %}"></script>
    <script src="{% static 'web/libraries/ajax_setup.js' %}"></script>
    <script src="{% static 'web/minotour_utils.js' %}?{% now 'c' %}"></script>
    <!-- Multi input code -->
    <script src="{% static 'web/libraries/multi-input-glitch/multi-input.js' %}"></script>
    <script src="{% static 'web/js/flowcell/requestReadData.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/libraries/d3/d3.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/libraries/d3-sankey/d3-sankey.js' %}?{% now 'c' %}"></script>
{#    <script src="{% static 'web/js/vis-d3/sankey.js' %}?{% now 'c' %}"></script>#}
{#    <script src="{% static 'web/js/vis-d3/donutdothat.js' %}?{% now 'c' %}"></script>#}
{#    <script src="{% static 'web/js/vis-d3/allResultsTable.js' %}?{% now 'c' %}"></script>#}
{#    <script src="{% static 'web/js/vis-d3/donutoTaberu.js' %}?{% now 'c' %}"></script>#}
{#    <script src="{% static 'web/js/vis-d3/metaheader.js' %}?{% now 'c' %}"></script>#}
{#    <script src="{% static 'web/js/vis-d3/mappingtable.js' %}?{% now 'c' %}"></script>#}
{#    <script src="{% static 'web/js/vis-d3/simpleAlertTable.js' %}?{% now 'c' %}"></script>#}
{#    <script src="{% static 'web/js/vis-d3/masterDetailEB.js' %}?{% now 'c' %}"></script>#}
    <script src="{% static 'web/js/models/CoverageChart.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/controllers/CoverageChartController.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/flowcell/requestMinknowMessages.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/flowcell/requestData.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/flowcell/requestRunDetails.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/flowcell/requestLiveRunStats.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/models/Message.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/controllers/MetagenomicsController.js' %}"></script>
    <script src="{% static 'web/js/controllers/FlowcellTabController.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/controllers/FlowcellController.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/controllers/AlignmentController.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/controllers/MessageController.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/helpers/DateHelper.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/controllers/FlowcellTableController.js' %}"></script>
    <script src="{% static 'web/js/views/MView.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/models/Flowcell.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/models/MinotourTask.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/services/HttpService.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/services/FlowcellService.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/controllers/TasksController.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/controllers/SharingController.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/controllers/ReferenceManagementController.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/views/MessageView.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/controllers/FlowcellNotificationController.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/controllers/ArticController.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/FlowcellPageApp.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/controllers/BasecalledDataController.js' %}"></script>
    <!-- Data tables -->
    <script src="{% static 'web/libraries/DataTables/datatables.min.js' %}"></script>
</head>

{% block body_tag %}
    <body class="hold-transition layout-top-nav sidebar-collapse" style="">
{% endblock %}

<div>
    <!-- Main Header -->
    {% block header %}
    {% endblock %}

    <!-- Content Block. Contains page content -->
    {% if not request.user.is_superuser %}
        <div style="padding-top: 1rem">
    {% endif %}
    {% block content %}
    {% endblock %}

        </div>

    <!-- Main Footer -->
    <footer class="footer bg-light" id="sticky-footer">
        <!-- To the right -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11"
                     style=" display: flex; justify-content: center; align-content: center; flex-direction: column;">
                    <div class="pull-left hidden-xs" style="text-align: left">
                        <strong>&copy; Loose Lab {% now 'Y' %} <a href="https://www.nottingham.ac.uk">University
                            of
                            Nottingham</a>.</strong>
                        Contact @mattloose for more information.
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="pull-right hidden-xs" style="max-width: 100px">
                        <img style="max-width:100px;" src="{% static 'web/img/minotourlogo.png' %}" alt="Minotour logo">
                    </div>
                </div>
            </div>
        </div>

        <!-- Default to the left -->


    </footer>

</div>
<!-- Block to run javascript in -->
{% block javascript %}
{% endblock %}
<!-- Block to adjust sticky header and footer -->
{% block adjustment %}
{% endblock %}
<script src="{% static 'web/libraries/AdminLTE-3.0.4/dist/js/adminlte.min.js' %}"></script>
</body>
</html>
