{% extends "web/template_base.html" %}
{% block header %}
    <!-- Public NavBar -->
        <nav class="navbar navbar-expand-md navbar-dark topnav-primary obsidian-site-nav" id="tn" role="navigation" aria-label="Main">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'login' %}">
            <span>minoTour</span>
        </a>

            <div class="container-fluid obsidian-page-inner" style="padding-top: 2rem">
                <div class="navbar-header">
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
{% endblock %}
{% block adjustment%}
    <script>
        // offset body to account for navbar stickyness, which pulls navbar out of DOM
        let heightFooter = $("#sticky-footer").css("height")
        let windowHeight = $(document).height()
        $("body").css({"padding-bottom": heightFooter, "min-height": `${windowHeight}px`})
    </script>
{% endblock %}
