{% load static %}
<!doctype html>
<html lang="en" style="height: auto">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>minoTour | v1.0 | real time minION analysis</title>
    <link rel="icon" type="image/png" href="{% static 'web/img/minitour.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'web/img/minitour57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'web/img/minitour72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'web/img/minitour114.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'web/img/minitour144.png' %}">
    <link rel="mask-icon" href="{% static 'web/img/minotour.svg' %}" color="yellow">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <script src="{% static 'web/libraries/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'web/libraries/popper.js' %}"></script>
    <script src="{% static 'web/libraries/bootstrap-4.5.0-dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'web/libraries/AdminLTE-3.0.4/dist/css/adminlte.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'web/libraries/fontawesome-free-5.7.2-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/libraries/DataTables/Buttons-1.6.2/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/libraries/DataTables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/minotour.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/loader.css' %}">
    <script src="{% static 'web/libraries/axios/axios.min.js' %}"></script>

    <!-- Highcharts -->
    <script src="{% static 'web/libraries/highcharts/highstock.js' %}"></script>
    <script src="{% static 'web/libraries/highcharts/exporting.js' %}"></script>
    <script src="{% static 'web/libraries/highcharts/highcharts-more.js' %}"></script>

    <script src="{% static 'web/libraries/highcharts/solid-gauge.src.js' %}"></script>
    <script src="{% static 'web/libraries/highcharts/grid-light-custom.js' %}"></script>
    <script src="{% static 'web/libraries/highcharts/heatmap.js' %}"></script>
    <script src="{% static 'web/libraries/highcharts/no-data-to-display.js' %}"></script>
    <script src="{% static 'web/libraries/highcharts/boost.js' %}"></script>
    <!--D3 -->
    <script src="{% static 'web/libraries/d3.v6.min.js' %}"></script>{#    <script src="{% static 'web/libraries/d3-sankey-0.12.3/src/sankey.js' %}"></script>#}
    <script src="{% static 'web/libraries/d3-sankey@0' %}"></script>
    <!-- Random garbage -->
    <script src="{% static 'web/minotour_utils.js' %}?{% now 'c' %}"></script>
    <script src="{% static 'web/js/flowcell/requestReadData.js' %}"></script>
    <script src="{% static 'web/js/models/CoverageChart.js' %}"></script>
    <script src="{% static 'web/js/flowcell/requestData.js' %}"></script>
    <script src="{% static 'web/js/models/Message.js' %}"></script>
    <script src="{% static 'web/libraries/cookie.js' %}"></script>
    <!--Controller for tabs and pages -->
    <script src="{% static 'web/js/controllers/CoverageChartController.js' %}"></script>
    <script src="{% static 'web/js/controllers/MetagenomicsController.js' %}"></script>
    <script src="{% static 'web/js/controllers/FlowcellTabController.js' %}"></script>
    <script src="{% static 'web/js/controllers/FlowcellController.js' %}"></script>
    <script src="{% static 'web/js/controllers/AlignmentController.js' %}"></script>
    <script src="{% static 'web/js/controllers/MessageController.js' %}"></script>
    <script src="{% static 'web/js/controllers/FlowcellTableController.js' %}"></script>
    <script src="{% static 'web/js/controllers/BasecalledDataController.js' %}"></script>
    <script src="{% static 'web/js/controllers/TasksController.js' %}"></script>
    <script src="{% static 'web/js/controllers/SharingController.js' %}"></script>
    <script src="{% static 'web/js/controllers/ReferenceManagementController.js' %}"></script>
    <script src="{% static 'web/js/controllers/SummaryTabController.js' %}"></script>
    <script src="{% static 'web/js/controllers/LiveMinKnowController.js' %}"></script>
    <script src="{% static 'web/js/controllers/FlowcellNotificationController.js' %}"></script>
    <script src="{% static 'web/js/controllers/ArticController.js' %}"></script>
    <script src="{% static 'web/js/models/Flowcell.js' %}"></script>
    <script src="{% static 'web/js/models/MinotourTask.js' %}"></script>
    <script src="{% static 'web/js/views/MView.js' %}"></script>
    <script src="{% static 'web/js/views/MessageView.js' %}"></script>
    <script src="{% static 'web/FlowcellPageApp.js' %}"></script>
    <!-- Data tables -->
    <script src="{% static 'web/libraries/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'web/libraries/DataTables/Buttons-1.6.2/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'web/libraries/DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script src="{% static 'web/libraries/DataTables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script src="{% static 'web/libraries/DataTables/Buttons-1.6.2/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'web/libraries/AdminLTE-3.0.4/dist/js/adminlte.min.js' %}"></script>

</head>

{% block body_tag %}
    <body class="hold-transition layout-top-nav sidebar-collapse" style="">
{% endblock %}

<div>
    <!-- Main Header -->
    {% block header %}
    {% endblock %}

    <!-- Content Block. Contains page content -->
    {% if not request.user.is_superuser %}
        <div style="padding-top: 1rem">
    {% endif %}
    {% block content %}
    {% endblock %}

        </div>

    <!-- Main Footer -->
    <footer class="footer bg-light" id="sticky-footer" style="z-index: 11">
        <!-- To the right -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11"
                     style=" display: flex; justify-content: center; align-content: center; flex-direction: column;">
                    <div class="pull-left hidden-xs" style="text-align: left">
                        &copy; Loose Lab {% now 'Y' %} <a href="https://www.nottingham.ac.uk">University
                            of
                            Nottingham</a>.
                        Contact @mattloose for more information.
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="pull-right hidden-xs" style="max-width: 100px">
                        <img style="max-width:100px;" src="{% static 'web/img/minotourlogo.png' %}" alt="Minotour logo">
                    </div>
                </div>
            </div>
        </div>

        <!-- Default to the left -->


    </footer>

</div>
<!-- Block to run javascript in -->
{% block javascript %}
{% endblock %}
<!-- Block to adjust sticky header and footer -->
{% block adjustment %}
{% endblock %}
</body>
</html>
