{% extends "web/template_base.html" %}
{% load static %}
{% block header %}
    <!-- Public NavBar -->
        <nav class="nav navbar-static-top" style="background-color: #6bb9f0">

            <a class="navbar-brand" href="{% url 'login' %}" style="height: 100%; background-color: #3498db"><img src="{% static 'web/img/minotourlogo.png' %}"
                                                                  style="max-width: 80px;padding-right: .5rem; padding-left: .5rem;"></a>

            <div class="container-fluid">
                <div class="navbar-header">
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
{% endblock %}
{% block adjustment%}
    <script>
        // offset body to account for navbar stickyness, which pulls navbar out of DOM
        let heightFooter = $("#sticky-footer").css("height")
        let windowHeight = $(document).height()
        $("body").css({"padding-bottom": heightFooter, "min-height": `${windowHeight}px`})
    </script>
{% endblock %}
