{% extends "web/template_base.html" %}

{% block body_tag %}
<body class="hold-transition skin-blue sidebar-mini layout-top-nav fixed">
{% endblock %}

{% block header %}
    <!-- Main Header -->
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <a href="index.php" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>m</b>T<small></small></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>mino</b>Tour</span>
            </a>

            <div class="container-fluid">
                <div class="navbar-header">
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
{% endblock %}

{% block sidebar %}
{% endblock %}

